In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.DataFrame({
    'category' : ['A','B','A','B','A','B','A','B',],
    'Store' : ['S1','S1','S2','S2','S1','S2','S2','S1'],
    'Sales' : [100,300,200,430,200,100,30,140],
    'Quantity' : [10,15,12,13,10,13,14,15],
    'date' : pd.date_range('2025-01-01',periods=8)
})
data

  category Store  Sales  Quantity       date
0        A    S1    100        10 2025-01-01
1        B    S1    300        15 2025-01-02
2        A    S2    200        12 2025-01-03
3        B    S2    430        13 2025-01-04
4        A    S1    200        10 2025-01-05
5        B    S2    100        13 2025-01-06
6        A    S2     30        14 2025-01-07
7        B    S1    140        15 2025-01-08

In [4]:
# sum of sales group by
data.groupby('category')['Sales'].sum()

category
A    530
B    970
Name: Sales, dtype: int64

In [5]:
data.groupby('Store')['Sales'].sum()

Store
S1    740
S2    760
Name: Sales, dtype: int64

In [6]:
# multiple category
data.groupby(['category','Store'])['Sales'].sum()

category  Store
A         S1       300
          S2       230
B         S1       440
          S2       530
Name: Sales, dtype: int64