# aggrigation function

In [1]:
import numpy as np 
import pandas as pd

In [2]:
data = pd.DataFrame({
    'category' : ['A','B','A','B','A','B','A','B',],
    'Store' : ['S1','S1','S2','S2','S1','S2','S2','S1'],
    'Sales' : [100,300,200,430,200,100,30,140],
    'Quantity' : [10,15,12,13,10,13,14,15],
    'date' : pd.date_range('2025-01-01',periods=8)
})
data

  category Store  Sales  Quantity       date
0        A    S1    100        10 2025-01-01
1        B    S1    300        15 2025-01-02
2        A    S2    200        12 2025-01-03
3        B    S2    430        13 2025-01-04
4        A    S1    200        10 2025-01-05
5        B    S2    100        13 2025-01-06
6        A    S2     30        14 2025-01-07
7        B    S1    140        15 2025-01-08

In [ ]:
# mean 
data['Sales'].mean()

np.float64(187.5)

In [ ]:
# median ---> Data ko ascending order me sort karta hai Middle value return karta hai
data['Sales'].median()

np.float64(170.0)

In [ ]:
# mode() ---> function Series ya DataFrame me se most frequent value(s) nikalta hai.
data['Sales'].mode()

0    100
1    200
Name: Sales, dtype: int64

In [6]:
# max 
data['Sales'].max()

np.int64(430)

In [7]:
# min 
data['Sales'].min()

np.int64(30)

In [8]:
# count 
data['Sales'].count()

np.int64(8)

In [9]:
# std 
data['Sales'].std()

np.float64(127.69942387161682)

In [10]:
# multiple 
data['Sales'].agg(['sum','max','min','mean'])

sum     1500.0
max      430.0
min       30.0
mean     187.5
Name: Sales, dtype: float64