In [2]:
import numpy as np 
import pandas as pd

In [4]:
data = pd.read_csv('../8_files/kohli_ipl.csv')
data

     match_no  runs
0           1     1
1           2    23
2           3    13
3           4    12
4           5     1
..        ...   ...
210       211     0
211       212    20
212       213    73
213       214    25
214       215     7

[215 rows x 2 columns]

# count( )

In [5]:
data.count()

match_no    215
runs        215
dtype: int64

In [10]:
data['runs'].count()

np.int64(215)

# sum()

In [11]:
subs = pd.read_csv('../8_files/subs.csv')
subs

     Subscribers gained
0                    48
1                    57
2                    40
3                    43
4                    44
..                  ...
360                 231
361                 226
362                 155
363                 144
364                 172

[365 rows x 1 columns]

In [12]:
subs['Subscribers gained'].sum()

np.int64(49510)

# mean()  ---> avg

In [14]:
subs['Subscribers gained'].mean()

np.float64(135.64383561643837)

# mediun() -- >  Median is the middle value of sorted data.

In [15]:
data['runs'].median()

np.float64(24.0)

In [24]:
movie = pd.read_csv('../8_files/bollywood.csv')

# mode () --->  can return multiple values if there is a tie

In [32]:
movie['lead'].mode()

0    Akshay Kumar
Name: lead, dtype: object

# std() ---> Data average ke aas-paas kitna faila hua hai

In [33]:
data['runs'].std()

np.float64(26.22980132830278)

# min and max()

In [34]:
data['runs'].max()

np.int64(113)

In [35]:
data['runs'].min()

np.int64(0)

# describe --- > return all mathimatical operation (mean,max,min)

In [36]:
data['runs'].describe()

count    215.000000
mean      30.855814
std       26.229801
min        0.000000
25%        9.000000
50%       24.000000
75%       48.000000
max      113.000000
Name: runs, dtype: float64