In [2]:
import numpy as np
import pandas as pd

In [3]:
ipl = pd.read_csv('../8_files/deliveries.csv')

In [4]:
ipl.head(1)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [5]:
ipl.shape

(179078, 21)

In [6]:
ipl.groupby('batsman')['batsman_runs'].sum().sort_values(ascending=False).head(10)

batsman
V Kohli           5434
SK Raina          5415
RG Sharma         4914
DA Warner         4741
S Dhawan          4632
CH Gayle          4560
MS Dhoni          4477
RV Uthappa        4446
AB de Villiers    4428
G Gambhir         4223
Name: batsman_runs, dtype: int64

In [7]:
# find the batsman  with max no of six 
new = ipl[ipl['batsman_runs'] == 6]
new.groupby('batsman')['batsman_runs'].count().sort_values(ascending=False).head(1)

batsman
CH Gayle    327
Name: batsman_runs, dtype: int64

In [8]:

# find the batsman with most number of 4'thand 6's in last 5 over 
new = ipl[(ipl['over'] > 15)]
temp = new[(new['batsman_runs'] == 4) | (new['batsman_runs'] == 6)]
temp.groupby('batsman')['batsman_runs'].count().sort_values(ascending=False).head(1)

batsman
MS Dhoni    340
Name: batsman_runs, dtype: int64

In [9]:
# find the virat kohli record against all team 
virat = ipl[ipl['batsman'] == 'V Kohli']

In [10]:
grp = virat.groupby('bowling_team')
grp['batsman_runs'].sum().sort_values(ascending=False)

bowling_team
Delhi Daredevils           763
Chennai Super Kings        749
Kolkata Knight Riders      675
Kings XI Punjab            636
Mumbai Indians             628
Sunrisers Hyderabad        509
Rajasthan Royals           370
Deccan Chargers            306
Gujarat Lions              283
Rising Pune Supergiants    188
Pune Warriors              128
Rising Pune Supergiant      83
Delhi Capitals              66
Kochi Tuskers Kerala        50
Name: batsman_runs, dtype: int64

In [11]:
# create a function that can return the highest score of any batsman
ipl.groupby('batsman')['batsman_runs'].sum().sort_values(ascending=False).head(10)

batsman
V Kohli           5434
SK Raina          5415
RG Sharma         4914
DA Warner         4741
S Dhawan          4632
CH Gayle          4560
MS Dhoni          4477
RV Uthappa        4446
AB de Villiers    4428
G Gambhir         4223
Name: batsman_runs, dtype: int64

In [12]:
def find(name):
    new = ipl[ipl['batsman'] == name]
    return new.groupby('match_id')['batsman_runs'].sum().sort_values(ascending = False).head(1)

find('V Kohli')

match_id
626    113
Name: batsman_runs, dtype: int64