# python functionality

In [25]:
import numpy as np 
import pandas as pd

In [26]:
subs = pd.read_csv('../8_files/subs.csv')

In [ ]:
cricket = pd.read_csv('../8_files/kohli_ipl.csv')

In [28]:
movie = pd.read_csv('../8_files/bollywood.csv',index_col='movie')

# len function

In [29]:
len(subs)

365

In [30]:
movie

                                                  lead
movie
Uri: The Surgical Strike                 Vicky Kaushal
Battalion 609                              Vicky Ahuja
The Accidental Prime Minister (film)       Anupam Kher
Why Cheat India                          Emraan Hashmi
Evening Shadows                       Mona Ambegaonkar
...                                                ...
Hum Tumhare Hain Sanam                  Shah Rukh Khan
Aankhen (2002 film)                   Amitabh Bachchan
Saathiya (film)                           Vivek Oberoi
Company (film)                              Ajay Devgn
Awara Paagal Deewana                      Akshay Kumar

[1500 rows x 1 columns]

In [31]:
'Ajay Devgn' in movie.values

True

In [32]:
# for i in movie.index:
    # print(i)

# operator

In [33]:
cricket > 20

     match_no   runs
0       False  False
1       False   True
2       False  False
3       False  False
4       False  False
..        ...    ...
210      True  False
211      True  False
212      True   True
213      True   True
214      True  False

[215 rows x 2 columns]