In [1]:
import numpy as np
import pandas as pd

### Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool, built on top of the Python programming language.

# Series

In [ ]:
label = ['id','name','age','contact','address']
my_list = [1,'kaushik',22,9016883191,'Ahmedabad']
arr = np.array([11,12,13,14,15])
dic = {'a' : 100,'b':200, 'c' : 300, 'd' : 400, 'e' : 500}

In [6]:
pd.Series(my_list,index=label)

id                  1
name          kaushik
age                22
contact    9016883191
address     Ahmedabad
dtype: object

In [9]:
pd.Series(arr)

0    11
1    12
2    13
3    14
4    15
dtype: int64

In [12]:
pd.Series(dic)

a    100
b    200
c    300
d    400
e    500
dtype: int64

In [2]:
country = ['india','USA','UK','Pakistan','Shree lanka','Nepal']
pd.Series(country)

0          india
1            USA
2             UK
3       Pakistan
4    Shree lanka
5          Nepal
dtype: object

In [3]:
pd.Series([11,12,13,14,15])

0    11
1    12
2    13
3    14
4    15
dtype: int64

# custom index

In [6]:
sub = ['English','Gujarati','Sanskrit','Math','Science']
marks = [99,79,89,78,88]

pd.Series(marks,index=sub)

English     99
Gujarati    79
Sanskrit    89
Math        78
Science     88
dtype: int64

In [7]:
sub = ['English','Gujarati','Sanskrit','Math','Science']
marks = [99,79,89,78,88]

pd.Series(marks,index=sub,name="Kaushik's Marks")

English     99
Gujarati    79
Sanskrit    89
Math        78
Science     88
Name: Kaushik's Marks, dtype: int64

# using dict

In [8]:
my_data = {
    'English' : 88,
    'Hindi' : 90,
    'Gujarati' : 93,
    'Math' : 98,
    'Science' : 76
    }

In [18]:
serise = pd.Series(my_data,name="kaushik's marks")
serise

English     88
Hindi       90
Gujarati    93
Math        98
Science     76
Name: kaushik's marks, dtype: int64

# size

In [19]:
serise.size

5

In [20]:
# dtype 
serise.dtype

dtype('int64')

In [ ]:
# name
serise.name

"kaushik's marks"

In [ ]:
# is_unique   --- > return true or false
serise.is_unique

True

In [ ]:
# index ---> all index 
serise.index

Index(['English', 'Hindi', 'Gujarati', 'Math', 'Science'], dtype='object')

In [24]:
# values
serise.values

array([88, 90, 93, 98, 76])