# introduction

In [1]:
import numpy as np 
import pandas as pd

# create dataframe using list

In [3]:
data = [
    [100,80,8],
    [120,100,12],
    [90,80,5],
    [80,70,6]
]
df = pd.DataFrame(data,columns=['IQ','MARKS','PACKAGE'])

In [4]:
df

    IQ  MARKS  PACKAGE
0  100     80        8
1  120    100       12
2   90     80        5
3   80     70        6

# create dataframe using dict

In [5]:
data1 = {
    'name' : ['kaushik','kajal','yash','dhara','sanjay'],
    'age' : [22,23,21,23,24],
    'dept' : ['IT','HR',"IT",'HR','IT'],
    'cpmpany' : ['Google','TCS','Google','TCS','Amazon']
}

In [6]:
ddf = pd.DataFrame(data1)

In [7]:
ddf

      name  age dept cpmpany
0  kaushik   22   IT  Google
1    kajal   23   HR     TCS
2     yash   21   IT  Google
3    dhara   23   HR     TCS
4   sanjay   24   IT  Amazon