# Date Range

It is function which is used to generate a sequence of date/time.

Syntax: pd.date_range(start = 'mm/dd/yyyy', end='mm/dd/yyyy')

freq : It is used to determine the gap between 2 data point.

Freq:

YS-Year start
YE-Year End
YE-Mon - It determined from where to count year end based on month
YS-Mon - It determined from where to count year start based on month
MS-month start
ME-month end
W - week
W-DAY - It determined on which day week will be start
D - day
h - hour
min - minutes
s - second

In [7]:
import numpy as np
import pandas as pd

In [8]:
pd.date_range(start='12/1/2025',end='31/12/2025')

DatetimeIndex(['2025-12-01', '2025-12-02', '2025-12-03', '2025-12-04',
               '2025-12-05', '2025-12-06', '2025-12-07', '2025-12-08',
               '2025-12-09', '2025-12-10', '2025-12-11', '2025-12-12',
               '2025-12-13', '2025-12-14', '2025-12-15', '2025-12-16',
               '2025-12-17', '2025-12-18', '2025-12-19', '2025-12-20',
               '2025-12-21', '2025-12-22', '2025-12-23', '2025-12-24',
               '2025-12-25', '2025-12-26', '2025-12-27', '2025-12-28',
               '2025-12-29', '2025-12-30', '2025-12-31'],
              dtype='datetime64[ns]', freq='D')

In [9]:
pd.date_range(start='11/21/2005',end='12/25/2025',freq='min')

DatetimeIndex(['2005-11-21 00:00:00', '2005-11-21 00:01:00',
               '2005-11-21 00:02:00', '2005-11-21 00:03:00',
               '2005-11-21 00:04:00', '2005-11-21 00:05:00',
               '2005-11-21 00:06:00', '2005-11-21 00:07:00',
               '2005-11-21 00:08:00', '2005-11-21 00:09:00',
               ...
               '2025-12-24 23:51:00', '2025-12-24 23:52:00',
               '2025-12-24 23:53:00', '2025-12-24 23:54:00',
               '2025-12-24 23:55:00', '2025-12-24 23:56:00',
               '2025-12-24 23:57:00', '2025-12-24 23:58:00',
               '2025-12-24 23:59:00', '2025-12-25 00:00:00'],
              dtype='datetime64[ns]', length=10568161, freq='min')

# to_datetime

It is used to convert a string column into date time column.

Syntax: pd.to_datetime('col')

In [12]:
df= pd.read_csv('/content/amazon_fires.csv',encoding='latin')
df

       ano       mes     estado   numero  encontro
0     1998   Janeiro       Acre  0 Fires  1/1/1998
1     1999   Janeiro       Acre  0 Fires  1/1/1999
2     2000   Janeiro       Acre  0 Fires  1/1/2000
3     2001   Janeiro       Acre  0 Fires  1/1/2001
4     2002   Janeiro       Acre  0 Fires  1/1/2002
...    ...       ...        ...      ...       ...
6449  2012  Dezembro  Tocantins      128  1/1/2012
6450  2013  Dezembro  Tocantins       85  1/1/2013
6451  2014  Dezembro  Tocantins      223  1/1/2014
6452  2015  Dezembro  Tocantins      373  1/1/2015
6453  2016  Dezembro  Tocantins      119  1/1/2016

[6454 rows x 5 columns]

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6454 entries, 0 to 6453
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ano       6454 non-null   int64
 1   mes       6454 non-null   object
 2   estado    6454 non-null   object
 3   numero    6322 non-null   object
 4   encontro  6454 non-null   object
dtypes: int64(1), object(4)
memory usage: 252.2+ KB

In [14]:
df['encontro'] = pd.to_datetime(df['encontro'])

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6454 entries, 0 to 6453
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ano       6454 non-null   int64
 1   mes       6454 non-null   object
 2   estado    6454 non-null   object
 3   numero    6322 non-null   object
 4   encontro  6454 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 252.2+ KB

In [20]:
df['year'] = df['encontro'].dt.year

In [17]:
df

       ano       mes     estado   numero   encontro  year
0     1998   Janeiro       Acre  0 Fires 1998-01-01  1998
1     1999   Janeiro       Acre  0 Fires 1999-01-01  1999
2     2000   Janeiro       Acre  0 Fires 2000-01-01  2000
3     2001   Janeiro       Acre  0 Fires 2001-01-01  2001
4     2002   Janeiro       Acre  0 Fires 2002-01-01  2002
...    ...       ...        ...      ...        ...   ...
6449  2012  Dezembro  Tocantins      128 2012-01-01  2012
6450  2013  Dezembro  Tocantins       85 2013-01-01  2013
6451  2014  Dezembro  Tocantins      223 2014-01-01  2014
6452  2015  Dezembro  Tocantins      373 2015-01-01  2015
6453  2016  Dezembro  Tocantins      119 2016-01-01  2016

[6454 rows x 6 columns]

In [22]:
df['month'] = df['encontro'].dt.month

In [23]:
df

       ano       mes     estado   numero   encontro  year  month
0     1998   Janeiro       Acre  0 Fires 1998-01-01  1998      1
1     1999   Janeiro       Acre  0 Fires 1999-01-01  1999      1
2     2000   Janeiro       Acre  0 Fires 2000-01-01  2000      1
3     2001   Janeiro       Acre  0 Fires 2001-01-01  2001      1
4     2002   Janeiro       Acre  0 Fires 2002-01-01  2002      1
...    ...       ...        ...      ...        ...   ...    ...
6449  2012  Dezembro  Tocantins      128 2012-01-01  2012      1
6450  2013  Dezembro  Tocantins       85 2013-01-01  2013      1
6451  2014  Dezembro  Tocantins      223 2014-01-01  2014      1
6452  2015  Dezembro  Tocantins      373 2015-01-01  2015      1
6453  2016  Dezembro  Tocantins      119 2016-01-01  2016      1

[6454 rows x 7 columns]