In [40]:
import numpy as np
import pandas as pd

In [41]:
df = pd.read_csv('/content/dirty_cafe_sales.csv')
df

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2,2.0,4.0,NaN,UNKNOWN,2023-08-30
9996,TXN_9659401,NaN,3,NaN,3.0,Digital Wallet,NaN,2023-06-02
9997,TXN_5255387,Coffee,4,2.0,8.0,Digital Wallet,NaN,2023-03-02
9998,TXN_7695629,Cookie,3,NaN,3.0,Digital Wallet,NaN,2023-12-02
9999,TXN_6170729,Sandwich,3,4.0,12.0,Cash,In-store,2023-11-07

In [42]:
# df.drop_duplicates(inplace=True)
df

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2,2.0,4.0,NaN,UNKNOWN,2023-08-30
9996,TXN_9659401,NaN,3,NaN,3.0,Digital Wallet,NaN,2023-06-02
9997,TXN_5255387,Coffee,4,2.0,8.0,Digital Wallet,NaN,2023-03-02
9998,TXN_7695629,Cookie,3,NaN,3.0,Digital Wallet,NaN,2023-12-02
9999,TXN_6170729,Sandwich,3,4.0,12.0,Cash,In-store,2023-11-07

In [43]:
df['Transaction ID'].describe()

count           10000
unique          10000
top       TXN_9226047
freq                1
Name: Transaction ID, dtype: object

In [44]:
df['Transaction ID']=df['Transaction ID'].str.replace('TXN_',"")
df

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
...,...,...,...,...,...,...,...,...
9995,7672686,Coffee,2,2.0,4.0,NaN,UNKNOWN,2023-08-30
9996,9659401,NaN,3,NaN,3.0,Digital Wallet,NaN,2023-06-02
9997,5255387,Coffee,4,2.0,8.0,Digital Wallet,NaN,2023-03-02
9998,7695629,Cookie,3,NaN,3.0,Digital Wallet,NaN,2023-12-02
9999,6170729,Sandwich,3,4.0,12.0,Cash,In-store,2023-11-07

In [45]:
df['Transaction ID'].describe()

count       10000
unique      10000
top       9226047
freq            1
Name: Transaction ID, dtype: object

In [46]:
df['Transaction ID']=df['Transaction ID'].astype(int)

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  int64
 1   Item              9667 non-null   object
 2   Quantity          9862 non-null   object
 3   Price Per Unit    9821 non-null   object
 4   Total Spent       9827 non-null   object
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9841 non-null   object
dtypes: int64(1), object(7)
memory usage: 625.1+ KB

In [48]:
df['Payment Method'] = df['Payment Method'].str.replace('ERROR','UNKNOWN')
df['Payment Method'].unique()

array(['Credit Card', 'Cash', 'UNKNOWN', 'Digital Wallet', nan],
      dtype=object)

In [49]:
df['Payment Method']=df['Payment Method'].fillna('UNKNOWN')

In [50]:
df['Payment Method'].unique()

array(['Credit Card', 'Cash', 'UNKNOWN', 'Digital Wallet'], dtype=object)

In [51]:
df['Location'].unique()

array(['Takeaway', 'In-store', 'UNKNOWN', nan, 'ERROR'], dtype=object)

In [52]:
df['Location'] = df['Location'].str.replace('ERROR','UNKNOWN')
df['Location']=df['Location'].fillna('UNKNOWN')
df

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
...,...,...,...,...,...,...,...,...
9995,7672686,Coffee,2,2.0,4.0,UNKNOWN,UNKNOWN,2023-08-30
9996,9659401,NaN,3,NaN,3.0,Digital Wallet,UNKNOWN,2023-06-02
9997,5255387,Coffee,4,2.0,8.0,Digital Wallet,UNKNOWN,2023-03-02
9998,7695629,Cookie,3,NaN,3.0,Digital Wallet,UNKNOWN,2023-12-02
9999,6170729,Sandwich,3,4.0,12.0,Cash,In-store,2023-11-07

In [53]:
df['Location'].unique()

array(['Takeaway', 'In-store', 'UNKNOWN'], dtype=object)

In [54]:
df['Transaction Date'] = df['Transaction Date'].str.replace('ERROR','UNKNOWN')
df['Transaction Date']=df['Transaction Date'].fillna('UNKNOWN')
df

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
...,...,...,...,...,...,...,...,...
9995,7672686,Coffee,2,2.0,4.0,UNKNOWN,UNKNOWN,2023-08-30
9996,9659401,NaN,3,NaN,3.0,Digital Wallet,UNKNOWN,2023-06-02
9997,5255387,Coffee,4,2.0,8.0,Digital Wallet,UNKNOWN,2023-03-02
9998,7695629,Cookie,3,NaN,3.0,Digital Wallet,UNKNOWN,2023-12-02
9999,6170729,Sandwich,3,4.0,12.0,Cash,In-store,2023-11-07

In [55]:
df['Transaction Date'].describe()

count       10000
unique        366
top       UNKNOWN
freq          460
Name: Transaction Date, dtype: object

In [56]:
df['Item'].unique()

array(['Coffee', 'Cake', 'Cookie', 'Salad', 'Smoothie', 'UNKNOWN',
       'Sandwich', nan, 'ERROR', 'Juice', 'Tea'], dtype=object)

Coffee-2.0
Cake-3.0
Cookie-1.0
Salad -5.0
Smoothie-4.0
Sandwich-4.0
Juice-3.0
Tea-1.5

In [57]:
df['Item']=df['Item'].str.replace('ERROR','UNKNOWN')
df['Item'] = df['Item'].fillna('UNKNOWN')
df['Item'].value_counts()

Item
Juice       1171
Coffee      1165
Salad       1148
Cake        1139
Sandwich    1131
Smoothie    1096
Cookie      1092
Tea         1089
UNKNOWN      969
Name: count, dtype: int64

In [58]:
df['Price Per Unit'].unique()

array(['2.0', '3.0', '1.0', '5.0', '4.0', '1.5', nan, 'ERROR', 'UNKNOWN'],
      dtype=object)

In [59]:
df['Price Per Unit'].unique()

array(['2.0', '3.0', '1.0', '5.0', '4.0', '1.5', nan, 'ERROR', 'UNKNOWN'],
      dtype=object)

In [60]:
def remove(column):
  df[column]=df[column].str.replace('ERROR','UNKNOWN')
  df[column] = df[column].fillna('UNKNOWN')

In [61]:
remove('Price Per Unit')

In [62]:
df['Price Per Unit'].unique()

array(['2.0', '3.0', '1.0', '5.0', '4.0', '1.5', 'UNKNOWN'], dtype=object)

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  int64
 1   Item              10000 non-null  object
 2   Quantity          9862 non-null   object
 3   Price Per Unit    10000 non-null  object
 4   Total Spent       9827 non-null   object
 5   Payment Method    10000 non-null  object
 6   Location          10000 non-null  object
 7   Transaction Date  10000 non-null  object
dtypes: int64(1), object(7)
memory usage: 625.1+ KB

In [64]:
remove('Quantity')
remove('Total Spent')

In [65]:
df['Price Per Unit'].value_counts()

Price Per Unit
3.0        2429
4.0        2331
2.0        1227
5.0        1204
1.0        1143
1.5        1133
UNKNOWN     533
Name: count, dtype: int64

In [66]:
out = []
i = 0
while i<len(df['Price Per Unit']):
  if df['Quantity'][i]!='UNKNOWN' and df['Total Spent'][i]!= 'UNKNOWN' and df['Price Per Unit'][i] == 'UNKNOWN':
    out = out+[(float(df['Total Spent'][i])/float(df['Quantity'][i]))]
  else:
    out = out+[df['Price Per Unit'][i]]
  i+=1
df['Price Per Unit']=out

In [67]:
df

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,4271903,Cookie,4,1.0,UNKNOWN,Credit Card,In-store,2023-07-19
3,7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
...,...,...,...,...,...,...,...,...
9995,7672686,Coffee,2,2.0,4.0,UNKNOWN,UNKNOWN,2023-08-30
9996,9659401,UNKNOWN,3,1.0,3.0,Digital Wallet,UNKNOWN,2023-06-02
9997,5255387,Coffee,4,2.0,8.0,Digital Wallet,UNKNOWN,2023-03-02
9998,7695629,Cookie,3,1.0,3.0,Digital Wallet,UNKNOWN,2023-12-02
9999,6170729,Sandwich,3,4.0,12.0,Cash,In-store,2023-11-07

In [68]:
d={'Coffee':'2.0',
'Cake':'3.0',
'Cookie':'1.0',
'Salad' :'5.0',
'Smoothie':'4.0',
'Sandwich':'4.0',
'Juice':'3.0',
'Tea':'1.5'}

out = []
i = 0
while i<len(df['Price Per Unit']):
  if df['Item'][i]!='UNKNOWN' and  df['Price Per Unit'][i] == 'UNKNOWN':
    out = out+[d[df['Item'][i]]]
  else:
    out = out+[df['Price Per Unit'][i]]
  i+=1
df['Price Per Unit']=out

In [69]:
df['Price Per Unit'].value_counts()

Price Per Unit
3.0        2434
4.0        2341
2.0        1229
5.0        1206
1.0        1149
1.5        1140
3.0         123
4.0         113
1.5          67
5.0          66
1.0          64
2.0          62
UNKNOWN       6
Name: count, dtype: int64

In [70]:
df['Total Spent'].value_counts()

Total Spent
6.0        979
12.0       939
3.0        930
4.0        923
20.0       746
15.0       734
8.0        677
10.0       524
UNKNOWN    502
2.0        497
9.0        479
5.0        468
16.0       444
25.0       259
7.5        237
1.0        232
4.5        225
1.5        205
Name: count, dtype: int64

In [71]:
values = []
j = 0

while j<len(df['Total Spent']):
  if df['Quantity'][j]!='UNKNOWN' and df['Price Per Unit'][j]!='UNKNOWN' and df['Total Spent'][j] == 'UNKNOWN':
    values = values + [(float(df['Quantity'][j]) * float(df['Price Per Unit'][j]))]
  else:
    values = values+[df['Total Spent'][j]]
  j+=1
df['Total Spent']=values

In [72]:
df['Total Spent'].value_counts()

Total Spent
6.0        979
12.0       939
3.0        930
4.0        923
20.0       746
15.0       734
8.0        677
10.0       524
2.0        497
9.0        479
5.0        468
16.0       444
25.0       259
7.5        237
1.0        232
4.5        225
1.5        205
12.0        57
4.0         46
20.0        43
8.0         43
6.0         40
3.0         38
15.0        32
9.0         31
5.0         28
UNKNOWN     23
16.0        22
2.0         21
10.0        18
1.0         17
7.5         13
4.5         13
25.0        10
1.5          7
Name: count, dtype: int64

In [73]:
df

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,4271903,Cookie,4,1.0,4.0,Credit Card,In-store,2023-07-19
3,7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
...,...,...,...,...,...,...,...,...
9995,7672686,Coffee,2,2.0,4.0,UNKNOWN,UNKNOWN,2023-08-30
9996,9659401,UNKNOWN,3,1.0,3.0,Digital Wallet,UNKNOWN,2023-06-02
9997,5255387,Coffee,4,2.0,8.0,Digital Wallet,UNKNOWN,2023-03-02
9998,7695629,Cookie,3,1.0,3.0,Digital Wallet,UNKNOWN,2023-12-02
9999,6170729,Sandwich,3,4.0,12.0,Cash,In-store,2023-11-07

In [74]:

df['Total Spent'].value_counts()

Total Spent
6.0        979
12.0       939
3.0        930
4.0        923
20.0       746
15.0       734
8.0        677
10.0       524
2.0        497
9.0        479
5.0        468
16.0       444
25.0       259
7.5        237
1.0        232
4.5        225
1.5        205
12.0        57
4.0         46
20.0        43
8.0         43
6.0         40
3.0         38
15.0        32
9.0         31
5.0         28
UNKNOWN     23
16.0        22
2.0         21
10.0        18
1.0         17
7.5         13
4.5         13
25.0        10
1.5          7
Name: count, dtype: int64

In [75]:
df['Price Per Unit'].value_counts()

Price Per Unit
3.0        2434
4.0        2341
2.0        1229
5.0        1206
1.0        1149
1.5        1140
3.0         123
4.0         113
1.5          67
5.0          66
1.0          64
2.0          62
UNKNOWN       6
Name: count, dtype: int64

In [76]:
df['Quantity'].value_counts()

Quantity
5          2013
2          1974
4          1863
3          1849
1          1822
UNKNOWN     479
Name: count, dtype: int64