In [ ]:
import pandas as pd
import numpy as np

In [ ]:
arr1 = np.arange(1,11)
arr1

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [ ]:
s1 = pd.Series(arr1,name='Marks', index=[1,2,3,4,5,6,7,8,9,10])
s1

1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
Name: Marks, dtype: int64

In [ ]:
l = [7,10,45,33,93,63]
s = pd.Series(l,name="marks")
s

0     7
1    10
2    45
3    33
4    93
5    63
Name: marks, dtype: int64

In [ ]:
s = pd.Series('Tony stark')
s

0    Tony stark
dtype: object

In [ ]:
d = {7:"MS Dhoni",18: 'Virat Kohli',45:"Rohit Sharma",10:"Sachin",33:'Hardik Pandya'}
cri = pd.Series(d,name = 'cricketers')

In [ ]:
d1 = {}
for i in range(65,91):
  d1[i] = chr(i)
pd.Series(d1,name='Alphabets')

65    A
66    B
67    C
68    D
69    E
70    F
71    G
72    H
73    I
74    J
75    K
76    L
77    M
78    N
79    O
80    P
81    Q
82    R
83    S
84    T
85    U
86    V
87    W
88    X
89    Y
90    Z
Name: Alphabets, dtype: object

In [ ]:
prime = []
for i in range(2,101):
  for j in range(2,i):
    if i%j==0:
      break
  else:
    prime.append(i)
# print(prime)

series = pd.Series(prime,name='Prime numbers')
series

0      2
1      3
2      5
3      7
4     11
5     13
6     17
7     19
8     23
9     29
10    31
11    37
12    41
13    43
14    47
15    53
16    59
17    61
18    67
19    71
20    73
21    79
22    83
23    89
24    97
Name: Prime numbers, dtype: int64

In [ ]:
def isprime(n):
  for i in range(2,n):
    if n%i == 0:
      return False
  return True
var = list(filter(isprime,range(2,101)))
prime = pd.Series(var,name='Prime numbers')
prime

0      2
1      3
2      5
3      7
4     11
5     13
6     17
7     19
8     23
9     29
10    31
11    37
12    41
13    43
14    47
15    53
16    59
17    61
18    67
19    71
20    73
21    79
22    83
23    89
24    97
Name: Prime numbers, dtype: int64

In [ ]:
prime[7]

np.int64(19)

In [ ]:
cri[0:2]

7        MS Dhoni
18    Virat Kohli
Name: cricketers, dtype: object

In [ ]:
d = pd.Series({'a':'auto','z':'bus','w':'car'})
d[0:]

a    auto
z     bus
w     car
dtype: object

Boolean filtering
Syntax:
var[condition]

In [ ]:
prime[(prime>50) & (prime<80)]

15    53
16    59
17    61
18    67
19    71
20    73
21    79
Name: Prime numbers, dtype: int64

In [ ]:
# Modification
cri[10] = 'arjun'
cri

7          MS Dhoni
18      Virat Kohli
45     Rohit Sharma
10            arjun
33    Hardik Pandya
Name: cricketers, dtype: object

In [ ]:
cri[8]= 'Jadeja'
cri

7          MS Dhoni
18      Virat Kohli
45     Rohit Sharma
10            arjun
33    Hardik Pandya
8            Jadeja
Name: cricketers, dtype: object