In [177]:
import numpy as np
import pandas as pd

In [178]:
df = pd.read_csv('/content/dirty_cafe_sales.csv')

In [179]:
df

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2,2.0,4.0,NaN,UNKNOWN,2023-08-30
9996,TXN_9659401,NaN,3,NaN,3.0,Digital Wallet,NaN,2023-06-02
9997,TXN_5255387,Coffee,4,2.0,8.0,Digital Wallet,NaN,2023-03-02
9998,TXN_7695629,Cookie,3,NaN,3.0,Digital Wallet,NaN,2023-12-02
9999,TXN_6170729,Sandwich,3,4.0,12.0,Cash,In-store,2023-11-07

In [180]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9667 non-null   object
 2   Quantity          9862 non-null   object
 3   Price Per Unit    9821 non-null   object
 4   Total Spent       9827 non-null   object
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9841 non-null   object
dtypes: object(8)
memory usage: 625.1+ KB

In [181]:
df.drop_duplicates(inplace=True)

In [182]:
df

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2,2.0,4.0,NaN,UNKNOWN,2023-08-30
9996,TXN_9659401,NaN,3,NaN,3.0,Digital Wallet,NaN,2023-06-02
9997,TXN_5255387,Coffee,4,2.0,8.0,Digital Wallet,NaN,2023-03-02
9998,TXN_7695629,Cookie,3,NaN,3.0,Digital Wallet,NaN,2023-12-02
9999,TXN_6170729,Sandwich,3,4.0,12.0,Cash,In-store,2023-11-07

In [183]:
df['Transaction ID'] = df['Transaction ID'].str.replace('TXN_',"")

In [184]:
df

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
...,...,...,...,...,...,...,...,...
9995,7672686,Coffee,2,2.0,4.0,NaN,UNKNOWN,2023-08-30
9996,9659401,NaN,3,NaN,3.0,Digital Wallet,NaN,2023-06-02
9997,5255387,Coffee,4,2.0,8.0,Digital Wallet,NaN,2023-03-02
9998,7695629,Cookie,3,NaN,3.0,Digital Wallet,NaN,2023-12-02
9999,6170729,Sandwich,3,4.0,12.0,Cash,In-store,2023-11-07

In [185]:
df['Transaction ID']=df['Transaction ID'].astype(int)

In [186]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  int64
 1   Item              9667 non-null   object
 2   Quantity          9862 non-null   object
 3   Price Per Unit    9821 non-null   object
 4   Total Spent       9827 non-null   object
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9841 non-null   object
dtypes: int64(1), object(7)
memory usage: 625.1+ KB

In [187]:
df['Payment Method'] = df['Payment Method'].str.replace('ERROR','UNKNOWN')

In [188]:
df['Payment Method'] = df['Payment Method'].fillna('UNKNOWN')

In [189]:
df['Payment Method'].unique()
df['Payment Method'].describe()

count       10000
unique          4
top       UNKNOWN
freq         3178
Name: Payment Method, dtype: object

In [190]:
df['Location'] = df['Location'].str.replace('ERROR','UNKNOWN')
df['Location']=df['Location'].fillna('UNKNOWN')
df

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
...,...,...,...,...,...,...,...,...
9995,7672686,Coffee,2,2.0,4.0,UNKNOWN,UNKNOWN,2023-08-30
9996,9659401,NaN,3,NaN,3.0,Digital Wallet,UNKNOWN,2023-06-02
9997,5255387,Coffee,4,2.0,8.0,Digital Wallet,UNKNOWN,2023-03-02
9998,7695629,Cookie,3,NaN,3.0,Digital Wallet,UNKNOWN,2023-12-02
9999,6170729,Sandwich,3,4.0,12.0,Cash,In-store,2023-11-07

In [191]:
df['Location'].describe()

count       10000
unique          3
top       UNKNOWN
freq         3961
Name: Location, dtype: object

In [192]:
df['Location'].unique()

array(['Takeaway', 'In-store', 'UNKNOWN'], dtype=object)

In [193]:
df['Item'] = df['Item'].str.replace('ERROr','UNKNOWN')
df['Item'] = df['Item'].fillna('UNKNOWN')
df

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
...,...,...,...,...,...,...,...,...
9995,7672686,Coffee,2,2.0,4.0,UNKNOWN,UNKNOWN,2023-08-30
9996,9659401,UNKNOWN,3,NaN,3.0,Digital Wallet,UNKNOWN,2023-06-02
9997,5255387,Coffee,4,2.0,8.0,Digital Wallet,UNKNOWN,2023-03-02
9998,7695629,Cookie,3,NaN,3.0,Digital Wallet,UNKNOWN,2023-12-02
9999,6170729,Sandwich,3,4.0,12.0,Cash,In-store,2023-11-07

In [194]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  int64
 1   Item              10000 non-null  object
 2   Quantity          9862 non-null   object
 3   Price Per Unit    9821 non-null   object
 4   Total Spent       9827 non-null   object
 5   Payment Method    10000 non-null  object
 6   Location          10000 non-null  object
 7   Transaction Date  9841 non-null   object
dtypes: int64(1), object(7)
memory usage: 625.1+ KB

In [195]:
df['Quantity'] = df['Quantity'].str.replace('ERROR','UNKNOWN')
df['Quantity'] = df['Quantity'].fillna('UNKNOWN')
df

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
...,...,...,...,...,...,...,...,...
9995,7672686,Coffee,2,2.0,4.0,UNKNOWN,UNKNOWN,2023-08-30
9996,9659401,UNKNOWN,3,NaN,3.0,Digital Wallet,UNKNOWN,2023-06-02
9997,5255387,Coffee,4,2.0,8.0,Digital Wallet,UNKNOWN,2023-03-02
9998,7695629,Cookie,3,NaN,3.0,Digital Wallet,UNKNOWN,2023-12-02
9999,6170729,Sandwich,3,4.0,12.0,Cash,In-store,2023-11-07

In [196]:
df['Price Per Unit'] = df['Price Per Unit'].str.replace('ERROR','UNKNOWN')
df['Price Per Unit'] = df['Price Per Unit'].fillna('UNKNOWN')
df

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
...,...,...,...,...,...,...,...,...
9995,7672686,Coffee,2,2.0,4.0,UNKNOWN,UNKNOWN,2023-08-30
9996,9659401,UNKNOWN,3,UNKNOWN,3.0,Digital Wallet,UNKNOWN,2023-06-02
9997,5255387,Coffee,4,2.0,8.0,Digital Wallet,UNKNOWN,2023-03-02
9998,7695629,Cookie,3,UNKNOWN,3.0,Digital Wallet,UNKNOWN,2023-12-02
9999,6170729,Sandwich,3,4.0,12.0,Cash,In-store,2023-11-07

In [197]:
df['Total Spent'] = df['Total Spent'].str.replace('ERROR','UNKNOWN')
df['Total Spent'] = df['Total Spent'].fillna('UNKNOWN')
df

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,4271903,Cookie,4,1.0,UNKNOWN,Credit Card,In-store,2023-07-19
3,7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
...,...,...,...,...,...,...,...,...
9995,7672686,Coffee,2,2.0,4.0,UNKNOWN,UNKNOWN,2023-08-30
9996,9659401,UNKNOWN,3,UNKNOWN,3.0,Digital Wallet,UNKNOWN,2023-06-02
9997,5255387,Coffee,4,2.0,8.0,Digital Wallet,UNKNOWN,2023-03-02
9998,7695629,Cookie,3,UNKNOWN,3.0,Digital Wallet,UNKNOWN,2023-12-02
9999,6170729,Sandwich,3,4.0,12.0,Cash,In-store,2023-11-07

In [198]:
df['Transaction Date'] = df['Transaction Date'].str.replace('ERROR','UNKNOWN')
df['Transaction Date'] = df['Transaction Date'].fillna('UNKNOWN')
df

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,4271903,Cookie,4,1.0,UNKNOWN,Credit Card,In-store,2023-07-19
3,7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
...,...,...,...,...,...,...,...,...
9995,7672686,Coffee,2,2.0,4.0,UNKNOWN,UNKNOWN,2023-08-30
9996,9659401,UNKNOWN,3,UNKNOWN,3.0,Digital Wallet,UNKNOWN,2023-06-02
9997,5255387,Coffee,4,2.0,8.0,Digital Wallet,UNKNOWN,2023-03-02
9998,7695629,Cookie,3,UNKNOWN,3.0,Digital Wallet,UNKNOWN,2023-12-02
9999,6170729,Sandwich,3,4.0,12.0,Cash,In-store,2023-11-07

In [199]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  int64
 1   Item              10000 non-null  object
 2   Quantity          10000 non-null  object
 3   Price Per Unit    10000 non-null  object
 4   Total Spent       10000 non-null  object
 5   Payment Method    10000 non-null  object
 6   Location          10000 non-null  object
 7   Transaction Date  10000 non-null  object
dtypes: int64(1), object(7)
memory usage: 625.1+ KB

In [200]:
df['Item'] = df['Item'].str.replace('ERROR','UNKNOWN')
df['Item'] = df['Item'].fillna('UNKNOWN')
df

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,4271903,Cookie,4,1.0,UNKNOWN,Credit Card,In-store,2023-07-19
3,7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
...,...,...,...,...,...,...,...,...
9995,7672686,Coffee,2,2.0,4.0,UNKNOWN,UNKNOWN,2023-08-30
9996,9659401,UNKNOWN,3,UNKNOWN,3.0,Digital Wallet,UNKNOWN,2023-06-02
9997,5255387,Coffee,4,2.0,8.0,Digital Wallet,UNKNOWN,2023-03-02
9998,7695629,Cookie,3,UNKNOWN,3.0,Digital Wallet,UNKNOWN,2023-12-02
9999,6170729,Sandwich,3,4.0,12.0,Cash,In-store,2023-11-07

In [201]:
# print(df['Transaction ID'].unique())
# print(df['Item'].unique())
# print(df['Quantity'].unique())
# print(df['Price Per Unit'].unique())
# print(df['Total Spent'].unique())
# print(df['Payment Method'].unique())
# print(df['Location'].unique())
print(df['Transaction Date'].unique())

['2023-09-08' '2023-05-16' '2023-07-19' '2023-04-27' '2023-06-11'
 '2023-03-31' '2023-10-06' '2023-10-28' '2023-07-28' '2023-12-31'
 '2023-11-07' 'UNKNOWN' '2023-05-03' '2023-06-01' '2023-03-21'
 '2023-11-15' '2023-06-10' '2023-02-24' '2023-03-25' '2023-01-15'
 '2023-04-04' '2023-03-30' '2023-12-01' '2023-09-18' '2023-06-03'
 '2023-12-13' '2023-04-20' '2023-04-10' '2023-03-11' '2023-06-02'
 '2023-11-06' '2023-08-15' '2023-10-09' '2023-05-28' '2023-07-17'
 '2023-04-29' '2023-06-08' '2023-06-29' '2023-04-17' '2023-12-22'
 '2023-01-10' '2023-10-02' '2023-02-23' '2023-03-22' '2023-11-03'
 '2023-03-02' '2023-06-26' '2023-05-02' '2023-09-05' '2023-01-08'
 '2023-03-15' '2023-11-25' '2023-12-05' '2023-03-19' '2023-06-27'
 '2023-04-19' '2023-10-07' '2023-09-30' '2023-05-27' '2023-11-18'
 '2023-10-20' '2023-10-03' '2023-10-27' '2023-04-06' '2023-01-31'
 '2023-12-08' '2023-06-19' '2023-12-14' '2023-07-16' '2023-02-22'
 '2023-06-15' '2023-12-09' '2023-04-18' '2023-10-29' '2023-04-30'
 '2023-04-02' '2023-05-24' '2023-03-12' '2023-08-16' '2023-09-10'
 '2023-03-07' '2023-08-07' '2023-08-20' '2023-04-15' '2023-07-25'
 '2023-10-30' '2023-12-15' '2023-02-25' '2023-04-03' '2023-10-08'
 '2023-12-28' '2023-08-30' '2023-02-03' '2023-09-12' '2023-05-04'
 '2023-02-21' '2023-03-16' '2023-02-06' '2023-03-29' '2023-06-18'
 '2023-09-23' '2023-01-14' '2023-09-14' '2023-09-16' '2023-04-08'
 '2023-12-19' '2023-07-14' '2023-12-12' '2023-01-05' '2023-01-23'
 '2023-02-20' '2023-12-06' '2023-05-31' '2023-08-11' '2023-09-03'
 '2023-07-11' '2023-06-06' '2023-01-18' '2023-03-23' '2023-01-04'
 '2023-06-23' '2023-08-03' '2023-07-12' '2023-11-02' '2023-07-31'
 '2023-09-19' '2023-02-09' '2023-09-04' '2023-05-21' '2023-07-02'
 '2023-07-10' '2023-11-21' '2023-12-02' '2023-03-13' '2023-08-12'
 '2023-02-16' '2023-04-11' '2023-03-26' '2023-11-01' '2023-07-22'
 '2023-07-26' '2023-02-28' '2023-01-27' '2023-01-19' '2023-04-07'
 '2023-03-20' '2023-12-27' '2023-10-26' '2023-02-18' '2023-05-15'
 '2023-12-10' '2023-04-21' '2023-02-04' '2023-11-12' '2023-08-05'
 '2023-05-10' '2023-07-15' '2023-01-11' '2023-10-01' '2023-04-26'
 '2023-08-25' '2023-03-01' '2023-11-13' '2023-07-09' '2023-05-13'
 '2023-05-18' '2023-01-17' '2023-09-22' '2023-08-22' '2023-07-27'
 '2023-12-30' '2023-12-21' '2023-09-28' '2023-11-16' '2023-04-14'
 '2023-01-03' '2023-01-12' '2023-08-31' '2023-07-07' '2023-09-15'
 '2023-10-21' '2023-09-02' '2023-08-19' '2023-01-06' '2023-10-13'
 '2023-05-29' '2023-05-22' '2023-11-23' '2023-10-15' '2023-11-14'
 '2023-11-26' '2023-12-17' '2023-05-09' '2023-10-22' '2023-06-30'
 '2023-04-25' '2023-02-19' '2023-12-11' '2023-10-12' '2023-07-04'
 '2023-01-28' '2023-10-04' '2023-02-26' '2023-10-11' '2023-02-14'
 '2023-04-28' '2023-09-06' '2023-04-23' '2023-01-22' '2023-03-10'
 '2023-01-09' '2023-12-03' '2023-08-06' '2023-12-29' '2023-02-15'
 '2023-05-25' '2023-10-31' '2023-02-27' '2023-03-03' '2023-09-27'
 '2023-08-18' '2023-12-16' '2023-06-07' '2023-05-12' '2023-07-06'
 '2023-06-20' '2023-08-09' '2023-05-14' '2023-07-18' '2023-10-10'
 '2023-02-02' '2023-08-14' '2023-09-26' '2023-01-13' '2023-10-16'
 '2023-11-17' '2023-12-20' '2023-12-04' '2023-02-08' '2023-09-11'
 '2023-02-01' '2023-02-12' '2023-03-14' '2023-09-29' '2023-04-22'
 '2023-06-13' '2023-12-24' '2023-03-28' '2023-03-06' '2023-02-11'
 '2023-01-30' '2023-04-09' '2023-04-16' '2023-12-23' '2023-03-05'
 '2023-03-24' '2023-07-23' '2023-07-29' '2023-06-05' '2023-10-19'
 '2023-01-07' '2023-11-29' '2023-07-05' '2023-07-20' '2023-05-07'
 '2023-08-10' '2023-10-24' '2023-08-13' '2023-08-28' '2023-06-21'
 '2023-11-10' '2023-10-18' '2023-05-19' '2023-11-09' '2023-06-24'
 '2023-05-11' '2023-12-07' '2023-09-01' '2023-09-25' '2023-06-22'
 '2023-05-30' '2023-04-24' '2023-09-20' '2023-02-07' '2023-05-05'
 '2023-02-10' '2023-11-24' '2023-10-25' '2023-10-05' '2023-07-21'
 '2023-07-08' '2023-03-17' '2023-10-14' '2023-06-28' '2023-09-09'
 '2023-08-21' '2023-07-01' '2023-06-14' '2023-03-09' '2023-11-08'
 '2023-12-26' '2023-09-13' '2023-05-23' '2023-08-24' '2023-04-01'
 '2023-06-09' '2023-08-23' '2023-08-08' '2023-08-27' '2023-05-26'
 '2023-06-16' '2023-12-25' '2023-01-25' '2023-10-23' '2023-05-06'
 '2023-01-29' '2023-08-29' '2023-01-01' '2023-07-24' '2023-04-12'
 '2023-12-18' '2023-09-21' '2023-05-01' '2023-02-05' '2023-01-24'
 '2023-01-02' '2023-06-12' '2023-01-16' '2023-10-17' '2023-03-04'
 '2023-06-17' '2023-03-18' '2023-08-26' '2023-05-17' '2023-11-22'
 '2023-08-17' '2023-11-19' '2023-11-27' '2023-06-04' '2023-09-17'
 '2023-11-04' '2023-11-28' '2023-06-25' '2023-04-13' '2023-01-26'
 '2023-08-04' '2023-05-08' '2023-11-20' '2023-07-13' '2023-09-24'
 '2023-01-21' '2023-03-08' '2023-09-07' '2023-11-30' '2023-08-02'
 '2023-04-05' '2023-08-01' '2023-01-20' '2023-11-11' '2023-02-13'
 '2023-07-30' '2023-02-17' '2023-05-20' '2023-11-05' '2023-03-27'
 '2023-07-03']

In [202]:
out = []
for  i,j,k in zip(df['Price Per Unit'],df['Quantity'],df['Total Spent']):
  if i!='UNKNOWN' and j!='UNKNOWN' and k == 'UNKNOWN':
    out.append(float(i)*float(j))
  else:
    out.append(k)

In [203]:
df['Total Spent'] = out

In [204]:
df['Total Spent'].value_counts()

Total Spent
6.0        979
12.0       939
3.0        930
4.0        923
20.0       746
15.0       734
8.0        677
10.0       524
2.0        497
9.0        479
5.0        468
16.0       444
25.0       259
7.5        237
1.0        232
4.5        225
1.5        205
12.0        54
4.0         45
20.0        42
8.0         41
UNKNOWN     40
6.0         39
3.0         37
15.0        32
9.0         30
5.0         27
16.0        22
2.0         19
1.0         17
10.0        17
7.5         13
4.5         12
25.0         9
1.5          6
Name: count, dtype: int64

In [205]:
df

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,4271903,Cookie,4,1.0,4.0,Credit Card,In-store,2023-07-19
3,7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
...,...,...,...,...,...,...,...,...
9995,7672686,Coffee,2,2.0,4.0,UNKNOWN,UNKNOWN,2023-08-30
9996,9659401,UNKNOWN,3,UNKNOWN,3.0,Digital Wallet,UNKNOWN,2023-06-02
9997,5255387,Coffee,4,2.0,8.0,Digital Wallet,UNKNOWN,2023-03-02
9998,7695629,Cookie,3,UNKNOWN,3.0,Digital Wallet,UNKNOWN,2023-12-02
9999,6170729,Sandwich,3,4.0,12.0,Cash,In-store,2023-11-07

In [206]:
df['Price Per Unit'].value_counts()

Price Per Unit
3.0        2429
4.0        2331
2.0        1227
5.0        1204
1.0        1143
1.5        1133
UNKNOWN     533
Name: count, dtype: int64

In [207]:
out = []
for  i,j,k in zip(df['Price Per Unit'],df['Quantity'],df['Total Spent']):
  if i=='UNKNOWN' and j!='UNKNOWN' and k != 'UNKNOWN':
    out.append(float(k)/float(j))
  else:
    out.append(i)

In [208]:
df['Price Per Unit'] = out

In [209]:
df['Price Per Unit'].value_counts()

Price Per Unit
3.0        2429
4.0        2331
2.0        1227
5.0        1204
1.0        1143
1.5        1133
3.0         123
4.0         113
1.5          67
5.0          66
1.0          64
2.0          62
UNKNOWN      38
Name: count, dtype: int64

In [210]:
out = []
for  i,j,k in zip(df['Price Per Unit'],df['Quantity'],df['Total Spent']):
  if i!='UNKNOWN' and j=='UNKNOWN' and k != 'UNKNOWN':
    out.append(float(k)/float(i))
  else:
    out.append(j)

In [211]:
df['Quantity'].value_counts()

Quantity
5          2013
2          1974
4          1863
3          1849
1          1822
UNKNOWN     479
Name: count, dtype: int64

In [212]:
df['Quantity']= out

In [213]:
df['Quantity'].value_counts()

Quantity
5          2013
2          1974
4          1863
3          1849
1          1822
1.0          99
3.0          97
5.0          93
2.0          78
4.0          74
UNKNOWN      38
Name: count, dtype: int64

In [214]:
df['Payment Method'].value_counts()

Payment Method
UNKNOWN           3178
Digital Wallet    2291
Credit Card       2273
Cash              2258
Name: count, dtype: int64

In [215]:
df['Transaction Date'] = df['Transaction Date'].replace('UNKNOWN',np.nan)

In [216]:
# df['Transaction Date'].unique()

In [217]:
df['Transaction Date'] = pd.to_datetime(df['Transaction Date'])

In [218]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  int64
 1   Item              10000 non-null  object
 2   Quantity          10000 non-null  object
 3   Price Per Unit    10000 non-null  object
 4   Total Spent       10000 non-null  object
 5   Payment Method    10000 non-null  object
 6   Location          10000 non-null  object
 7   Transaction Date  9540 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(6)
memory usage: 625.1+ KB

In [219]:
df['Item'].value_counts()

Item
Juice       1171
Coffee      1165
Salad       1148
Cake        1139
Sandwich    1131
Smoothie    1096
Cookie      1092
Tea         1089
UNKNOWN      969
Name: count, dtype: int64

In [220]:
d={'Coffee':'2.0',
'Cake':'3.0',
'Cookie':'1.0',
'Salad' :'5.0',
'Smoothie':'4.0',
'Sandwich':'4.0',
'Juice':'3.0',
'Tea':'1.5'}

In [221]:
out = []
for i,j in zip(df['Item'],df['Price Per Unit']):
  if i == 'UNKNOWN' and j != 'UNKNOWN':
    if j == 2.0:
      out.append('Coffee')
    elif j == 1.0:
      out.append('Cookie')
    elif j == 5.0:
      out.append('Salad')
    elif j == 1.5:
      out.append('Tea')
    else:
      out.append(i)
  else:
    out.append(i)

In [222]:
df['Item'] = out
df['Item'].value_counts()

Item
Coffee      1172
Juice       1171
Salad       1150
Cake        1139
Sandwich    1131
Tea         1097
Cookie      1096
Smoothie    1096
UNKNOWN      948
Name: count, dtype: int64

In [223]:
df['Location'].value_counts()
# mode

Location
UNKNOWN     3961
Takeaway    3022
In-store    3017
Name: count, dtype: int64

In [224]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  int64
 1   Item              10000 non-null  object
 2   Quantity          10000 non-null  object
 3   Price Per Unit    10000 non-null  object
 4   Total Spent       10000 non-null  object
 5   Payment Method    10000 non-null  object
 6   Location          10000 non-null  object
 7   Transaction Date  9540 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(6)
memory usage: 625.1+ KB

In [225]:
df['Quantity'] = df['Quantity'].replace('UNKNOWN',np.nan)
df['Quantity'] = df['Quantity'].astype(float)
df['Quantity'] = df['Quantity'].dropna()

In [226]:
df['Quantity'].value_counts()

Quantity
5.0    2106
2.0    2052
3.0    1946
4.0    1937
1.0    1921
Name: count, dtype: int64

In [227]:
df['Quantity'].unique()

array([ 2.,  4.,  5.,  3.,  1., nan])

In [228]:
df['Price Per Unit'] = df['Price Per Unit'].replace('UNKNOWN',np.nan)
df['Price Per Unit'] = df['Price Per Unit'].astype(float)
df['Price Per Unit'] = df['Price Per Unit'].dropna()

In [229]:
df['Total Spent'] = df['Total Spent'].replace('UNKNOWN',np.nan)
df['Total Spent'] = df['Total Spent'].astype(float)
df['Total Spent'] = df['Total Spent'].dropna()

In [230]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  int64
 1   Item              10000 non-null  object
 2   Quantity          9962 non-null   float64
 3   Price Per Unit    9962 non-null   float64
 4   Total Spent       9960 non-null   float64
 5   Payment Method    10000 non-null  object
 6   Location          10000 non-null  object
 7   Transaction Date  9540 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(3), int64(1), object(3)
memory usage: 625.1+ KB

In [231]:
df

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,1961373,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,4977031,Cake,4.0,3.0,12.0,Cash,In-store,2023-05-16
2,4271903,Cookie,4.0,1.0,4.0,Credit Card,In-store,2023-07-19
3,7034554,Salad,2.0,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,3160411,Coffee,2.0,2.0,4.0,Digital Wallet,In-store,2023-06-11
...,...,...,...,...,...,...,...,...
9995,7672686,Coffee,2.0,2.0,4.0,UNKNOWN,UNKNOWN,2023-08-30
9996,9659401,Cookie,3.0,1.0,3.0,Digital Wallet,UNKNOWN,2023-06-02
9997,5255387,Coffee,4.0,2.0,8.0,Digital Wallet,UNKNOWN,2023-03-02
9998,7695629,Cookie,3.0,1.0,3.0,Digital Wallet,UNKNOWN,2023-12-02
9999,6170729,Sandwich,3.0,4.0,12.0,Cash,In-store,2023-11-07

In [232]:
df['Quantity'] = pd.to_numeric(df['Quantity'].replace('UNKNOWN', np.nan))
df['Price Per Unit'] = pd.to_numeric(df['Price Per Unit'].replace('UNKNOWN', np.nan))
df['Total Spent'] = pd.to_numeric(df['Total Spent'].replace('UNKNOWN', np.nan))

df.dropna(subset=['Quantity','Price Per Unit','Total Spent'], inplace=True)

In [233]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9942 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    9942 non-null   int64
 1   Item              9942 non-null   object
 2   Quantity          9942 non-null   float64
 3   Price Per Unit    9942 non-null   float64
 4   Total Spent       9942 non-null   float64
 5   Payment Method    9942 non-null   object
 6   Location          9942 non-null   object
 7   Transaction Date  9485 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(3), int64(1), object(3)
memory usage: 699.0+ KB

In [235]:
df['Quantity'] = df['Quantity'].astype(int)
df['Price Per Unit'] = df['Price Per Unit'].astype(int)
df['Total Spent'] = df['Total Spent'].astype(int)

In [236]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9942 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    9942 non-null   int64
 1   Item              9942 non-null   object
 2   Quantity          9942 non-null   int64
 3   Price Per Unit    9942 non-null   int64
 4   Total Spent       9942 non-null   int64
 5   Payment Method    9942 non-null   object
 6   Location          9942 non-null   object
 7   Transaction Date  9485 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(3)
memory usage: 699.0+ KB

Transaction Date
2023-06-16    40
2023-02-06    40
2023-03-13    39
2023-07-21    39
2023-07-24    39
              ..
2023-11-24    15
2023-07-30    15
2023-07-22    14
2023-03-11    14
2023-02-17    14
Name: count, Length: 365, dtype: int64