# Practice

In [35]:
import numpy as np 
import pandas as pd 
import random

In [36]:


np.random.seed(7)

rows = 250

names = [
    "Amit Sharma", "Rahul Verma", "Neha Patel", "Priya Mehta", "Sanjay Singh",
    "Ravi Kumar", "Kiran Joshi", "Anita Desai", "Vijay Shah", "Pooja Nair",
    "Ramesh Iyer", "Seema Malhotra", "Ajay Gupta", "Nisha Kapoor", "Deepak Yadav",
    "Manoj Mishra", "Sneha Kulkarni", "Arjun Reddy", "Swati Chavan", "Rohit Jain",
    "Alok Tiwari", "Mehul Shah", "Payal Joshi", "Vikas Agarwal", "Komal Patel",
    "Harsh Mehta", "Divya Bansal", "Suresh Pawar", "Kavita Kulkarni", "Nitin More"
]

departments = ["IT", "HR", "Finance", "Sales", "Marketing"]
cities = ["Delhi", "Mumbai", "Pune", "Bangalore", "Chennai", "Hyderabad"]

df = pd.DataFrame({
    "emp_id": range(1, rows + 1),
    "name": [random.choice(names) for _ in range(rows)],
    "age": np.random.randint(21, 60, rows),
    "salary": np.random.randint(25000, 120000, rows),
    "department": np.random.choice(departments, rows),
    "city": np.random.choice(cities, rows),
    "experience": np.random.randint(1, 11, rows),
    "rating": np.round(np.random.uniform(1, 5, rows), 1),
    "gender": np.random.choice(["Male", "Female"], rows)
})

df.head()

,emp_id,name,age,salary,department,city,experience,rating,gender
0,1,Arjun Reddy,25,99694,IT,Delhi,4,1.2,Male
1,2,Ravi Kumar,46,108330,Sales,Mumbai,1,1.5,Male
2,3,Payal Joshi,24,67225,IT,Delhi,2,4.0,Female
3,4,Arjun Reddy,40,54486,Sales,Delhi,1,1.4,Female
4,5,Pooja Nair,44,112305,Finance,Delhi,4,4.6,Female

# Tasks

In [37]:
# Display the first 10 records of the DataFrame.
df[:10]

,emp_id,name,age,salary,department,city,experience,rating,gender
0,1,Arjun Reddy,25,99694,IT,Delhi,4,1.2,Male
1,2,Ravi Kumar,46,108330,Sales,Mumbai,1,1.5,Male
2,3,Payal Joshi,24,67225,IT,Delhi,2,4.0,Female
3,4,Arjun Reddy,40,54486,Sales,Delhi,1,1.4,Female
4,5,Pooja Nair,44,112305,Finance,Delhi,4,4.6,Female
5,6,Sneha Kulkarni,49,72779,Finance,Bangalore,3,3.4,Female
6,7,Mehul Shah,35,54588,Finance,Bangalore,1,4.6,Male
7,8,Sneha Kulkarni,44,26941,Sales,Bangalore,6,2.9,Female
8,9,Harsh Mehta,29,69230,HR,Pune,9,3.9,Female
9,10,Alok Tiwari,46,28540,Marketing,Delhi,4,4.1,Female

In [38]:
# Display the last 10 records of the DataFrame.
df[-10:]

,emp_id,name,age,salary,department,city,experience,rating,gender
240,241,Sanjay Singh,34,33119,HR,Bangalore,7,1.1,Male
241,242,Deepak Yadav,23,49558,HR,Bangalore,2,2.2,Male
242,243,Vijay Shah,33,86982,HR,Pune,5,1.0,Male
243,244,Komal Patel,45,79378,Marketing,Delhi,4,1.3,Female
244,245,Kiran Joshi,48,101364,IT,Chennai,9,2.4,Male
245,246,Ajay Gupta,37,32609,HR,Chennai,5,3.1,Male
246,247,Komal Patel,26,29014,Finance,Pune,7,2.2,Male
247,248,Ajay Gupta,50,55701,HR,Chennai,8,4.4,Male
248,249,Anita Desai,30,86271,Sales,Bangalore,1,2.1,Male
249,250,Priya Mehta,35,119969,Finance,Mumbai,5,2.3,Male

In [39]:
# Find the total number of rows and columns in the DataFrame.
np.shape(df)

(250, 9)

In [40]:
# Find the total number of rows only in the DataFrame.
df.shape[0]

250

In [41]:
# Find the total number of columns only in the DataFrame.
df.shape[1]

9

In [42]:
# Display all employees whose age is greater than 35.
df[df['age'] > 35]

,emp_id,name,age,salary,department,city,experience,rating,gender
1,2,Ravi Kumar,46,108330,Sales,Mumbai,1,1.5,Male
3,4,Arjun Reddy,40,54486,Sales,Delhi,1,1.4,Female
4,5,Pooja Nair,44,112305,Finance,Delhi,4,4.6,Female
5,6,Sneha Kulkarni,49,72779,Finance,Bangalore,3,3.4,Female
7,8,Sneha Kulkarni,44,26941,Sales,Bangalore,6,2.9,Female
9,10,Alok Tiwari,46,28540,Marketing,Delhi,4,4.1,Female
10,11,Amit Sharma,47,95528,HR,Chennai,10,2.9,Female
12,13,Alok Tiwari,59,70601,HR,Bangalore,5,3.6,Male
18,19,Neha Patel,40,84848,Finance,Hyderabad,7,3.9,Male
20,21,Sanjay Singh,45,105583,IT,Chennai,10,4.6,Male
22,23,Rohit Jain,55,103229,Marketing,Mumbai,10,4.5,Male
25,26,Amit Sharma,59,106197,Marketing,Pune,7,4.1,Female
28,29,Ramesh Iyer,44,97574,Sales,Hyderabad,5,4.9,Male
29,30,Mehul Shah,56,47049,Sales,Pune,9,2.6,Male
32,33,Divya Bansal,40,85379,IT,Delhi,10,1.3,Male
35,36,Anita Desai,37,35202,Sales,Mumbai,6,2.3,Female
36,37,Alok Tiwari,52,109071,IT,Mumbai,8,1.2,Female
37,38,Suresh Pawar,50,110888,Finance,Hyderabad,2,1.7,Male
38,39,Ravi Kumar,49,39920,HR,Delhi,9,1.5,Female
40,41,Divya Bansal,44,79961,Finance,Mumbai,1,3.9,Female
42,43,Mehul Shah,56,84587,HR,Chennai,1,3.8,Male
45,46,Nisha Kapoor,44,112755,Marketing,Pune,10,1.5,Male
46,47,Ravi Kumar,49,100557,Finance,Mumbai,9,5.0,Male
47,48,Vikas Agarwal,53,103629,HR,Bangalore,9,4.3,Male
48,49,Ramesh Iyer,42,38238,HR,Pune,2,3.5,Male
49,50,Rahul Verma,57,74648,Marketing,Bangalore,6,1.5,Male
50,51,Vikas Agarwal,56,107889,HR,Hyderabad,10,4.9,Male
51,52,Arjun Reddy,54,36099,Finance,Hyderabad,2,1.5,Female
53,54,Anita Desai,48,49107,HR,Delhi,10,3.2,Male
54,55,Arjun Reddy,54,81498,Finance,Delhi,7,1.9,Female
55,56,Ravi Kumar,40,28266,IT,Bangalore,4,4.1,Female
56,57,Seema Malhotra,48,80432,IT,Delhi,7,1.5,Female
58,59,Payal Joshi,40,106470,Finance,Bangalore,4,2.7,Male
59,60,Ramesh Iyer,54,40444,HR,Mumbai,7,1.3,Male
60,61,Alok Tiwari,51,71463,IT,Pune,2,1.9,Male
61,62,Seema Malhotra,58,50520,Marketing,Bangalore,1,4.2,Female
63,64,Vijay Shah,50,113813,Marketing,Pune,7,1.2,Male
64,65,Anita Desai,38,38122,Marketing,Pune,1,3.5,Male
65,66,Alok Tiwari,52,119102,Marketing,Mumbai,7,1.5,Female
67,68,Vijay Shah,40,107857,Finance,Mumbai,1,3.3,Female
68,69,Manoj Mishra,39,97732,HR,Pune,9,4.5,Male
69,70,Nisha Kapoor,42,34909,Sales,Hyderabad,2,1.6,Male
72,73,Neha Patel,37,47118,IT,Hyderabad,2,4.9,Female
74,75,Nisha Kapoor,50,81169,IT,Chennai,1,2.1,Female
79,80,Mehul Shah,41,97356,IT,Mumbai,9,1.9,Male
80,81,Mehul Shah,36,63742,Marketing,Pune,2,4.7,Male
81,82,Vijay Shah,56,95341,Finance,Delhi,6,2.9,Male
84,85,Manoj Mishra,47,93243,IT,Pune,10,2.0,Male
85,86,Pooja Nair,44,64090,IT,Mumbai,2,1.7,Male
88,89,Deepak Yadav,50,118497,Finance,Delhi,7,3.2,Female
91,92,Neha Patel,36,57011,Marketing,Mumbai,9,4.8,Male
92,93,Ajay Gupta,50,83906,IT,Hyderabad,7,2.6,Female
94,95,Sanjay Singh,59,102651,Sales,Bangalore,1,2.0,Female
96,97,Arjun Reddy,42,93543,HR,Mumbai,6,1.4,Male
97,98,Pooja Nair,48,55706,Sales,Delhi,2,2.7,Female
99,100,Mehul Shah,38,52843,HR,Chennai,5,3.1,Male
101,102,Vijay Shah,57,119442,Finance,Hyderabad,6,3.2,Female
102,103,Anita Desai,50,77026,Sales,Pune,2,2.4,Male
103,104,Kiran Joshi,47,70680,Marketing,Chennai,5,4.0,Female
105,106,Amit Sharma,43,51442,IT,Bangalore,6,4.4,Female
106,107,Amit Sharma,55,36336,Finance,Bangalore,9,4.9,Female
109,110,Amit Sharma,55,37913,Finance,Hyderabad,1,3.9,Female
110,111,Komal Patel,50,72063,Marketing,Mumbai,1,4.2,Male
111,112,Amit Sharma,59,83900,HR,Chennai,9,4.9,Male
112,113,Alok Tiwari,38,59428,Sales,Hyderabad,7,2.1,Male
114,115,Suresh Pawar,36,59335,Finance,Delhi,5,2.6,Female
116,117,Rahul Verma,49,70290,HR,Delhi,7,3.5,Female
117,118,Payal Joshi,58,96488,Marketing,Bangalore,6,2.1,Male
119,120,Ravi Kumar,44,58871,Sales,Pune,7,4.3,Male
120,121,Priya Mehta,42,32572,Marketing,Hyderabad,8,1.5,Female
122,123,Kavita Kulkarni,48,81714,IT,Bangalore,6,2.7,Male
126,127,Amit Sharma,54,38431,HR,Pune,1,2.7,Female
127,128,Ravi Kumar,42,67102,Marketing,Mumbai,6,4.6,Female
128,129,Amit Sharma,42,39492,Finance,Bangalore,2,1.5,Male
129,130,Divya Bansal,51,37067,Sales,Bangalore,8,3.3,Male
130,131,Swati Chavan,49,75005,IT,Mumbai,2,4.7,Female
133,134,Mehul Shah,57,86272,Finance,Hyderabad,4,2.9,Female
135,136,Amit Sharma,42,43646,IT,Bangalore,7,4.3,Male
136,137,Vijay Shah,59,65023,HR,Chennai,9,3.3,Female
137,138,Mehul Shah,36,67460,HR,Mumbai,1,1.5,Male
138,139,Kavita Kulkarni,39,101019,Sales,Delhi,6,3.4,Female
139,140,Neha Patel,49,86323,Sales,Chennai,8,3.8,Female
140,141,Mehul Shah,37,91936,Marketing,Bangalore,1,3.5,Female
142,143,Mehul Shah,56,52030,HR,Delhi,8,4.6,Male
144,145,Amit Sharma,53,49669,HR,Chennai,1,1.2,Male
145,146,Seema Malhotra,44,102159,Sales,Chennai,3,1.6,Female
146,147,Kavita Kulkarni,52,49425,HR,Delhi,10,2.3,Male
147,148,Seema Malhotra,54,103134,HR,Pune,10,2.4,Female
148,149,Rohit Jain,48,91218,HR,Bangalore,3,1.1,Male
150,151,Neha Patel,53,73520,HR,Mumbai,5,1.0,Female
151,152,Divya Bansal,55,65614,Sales,Chennai,3,2.0,Male
152,153,Mehul Shah,52,107010,Finance,Pune,9,3.4,Male
153,154,Payal Joshi,59,82488,IT,Mumbai,6,2.5,Female
154,155,Arjun Reddy,39,26607,HR,Mumbai,3,4.8,Female
158,159,Ajay Gupta,42,41132,Marketing,Mumbai,9,1.8,Female
160,161,Sanjay Singh,52,78422,Marketing,Delhi,2,2.8,Female
162,163,Deepak Yadav,37,89752,Marketing,Pune,5,1.2,Male
163,164,Harsh Mehta,46,50372,HR,Pune,10,1.7,Male
164,165,Harsh Mehta,54,55380,Sales,Mumbai,8,4.1,Female
165,166,Kiran Joshi,42,84684,IT,Chennai,8,2.2,Female
166,167,Vikas Agarwal,40,34247,IT,Chennai,4,3.7,Male
167,168,Rohit Jain,39,40664,HR,Hyderabad,3,1.0,Male
171,172,Divya Bansal,48,26211,IT,Hyderabad,6,3.4,Male
172,173,Manoj Mishra,49,80551,Sales,Hyderabad,9,3.3,Male
174,175,Ramesh Iyer,54,56751,Finance,Hyderabad,6,3.7,Female
175,176,Sanjay Singh,57,62419,Sales,Hyderabad,9,4.7,Female
176,177,Manoj Mishra,46,61186,Finance,Chennai,4,3.1,Female
177,178,Suresh Pawar,49,68141,Marketing,Hyderabad,7,1.8,Male
179,180,Vikas Agarwal,36,61673,HR,Hyderabad,10,2.2,Female
181,182,Pooja Nair,39,26716,HR,Chennai,10,1.7,Female
184,185,Arjun Reddy,55,44834,Sales,Pune,8,3.0,Male
186,187,Swati Chavan,42,96787,Finance,Hyderabad,6,2.8,Female
187,188,Seema Malhotra,37,78413,Finance,Hyderabad,8,4.0,Female
189,190,Swati Chavan,53,40742,Marketing,Delhi,5,4.4,Male
190,191,Sneha Kulkarni,57,52204,Sales,Chennai,1,4.1,Female
192,193,Alok Tiwari,49,68040,Marketing,Delhi,6,2.5,Female
193,194,Manoj Mishra,50,38119,Sales,Chennai,8,4.2,Female
194,195,Rahul Verma,52,43442,HR,Delhi,7,4.1,Female
196,197,Manoj Mishra,49,92110,IT,Bangalore,5,2.3,Male
199,200,Kavita Kulkarni,40,85880,Finance,Chennai,3,3.6,Male
201,202,Anita Desai,45,51519,Sales,Hyderabad,9,4.7,Male
204,205,Rahul Verma,53,102058,Finance,Delhi,1,4.8,Female
205,206,Vijay Shah,54,47190,HR,Hyderabad,5,3.8,Female
207,208,Vikas Agarwal,48,101680,HR,Pune,1,4.3,Female
209,210,Swati Chavan,59,117775,Finance,Hyderabad,2,3.1,Female
210,211,Mehul Shah,52,30906,HR,Delhi,3,4.9,Female
211,212,Nitin More,51,115647,IT,Delhi,5,3.9,Male
214,215,Harsh Mehta,37,61188,Marketing,Bangalore,9,1.3,Male
215,216,Priya Mehta,47,36131,IT,Hyderabad,8,2.8,Male
216,217,Seema Malhotra,53,69751,Marketing,Chennai,2,2.2,Female
217,218,Nisha Kapoor,54,85257,HR,Hyderabad,9,3.3,Female
219,220,Nisha Kapoor,51,82089,IT,Chennai,7,1.3,Female
220,221,Nisha Kapoor,54,94400,Finance,Bangalore,9,3.6,Male
221,222,Ravi Kumar,36,59407,Sales,Mumbai,4,1.8,Female
222,223,Manoj Mishra,43,66786,Sales,Hyderabad,10,1.6,Male
223,224,Sneha Kulkarni,55,43212,HR,Pune,8,4.5,Male
226,227,Manoj Mishra,41,68862,Marketing,Bangalore,1,3.5,Male
227,228,Ajay Gupta,39,59219,IT,Mumbai,2,4.9,Female
228,229,Mehul Shah,42,89385,HR,Hyderabad,6,3.9,Female
229,230,Mehul Shah,43,51196,Sales,Bangalore,7,3.6,Female
230,231,Kavita Kulkarni,39,48752,Marketing,Chennai,5,4.6,Male
235,236,Komal Patel,52,91766,Finance,Pune,4,2.7,Female
236,237,Sneha Kulkarni,50,74780,Finance,Hyderabad,9,2.5,Female
237,238,Alok Tiwari,37,27649,IT,Mumbai,3,1.8,Male
239,240,Ajay Gupta,59,51301,Finance,Pune,7,2.8,Female
243,244,Komal Patel,45,79378,Marketing,Delhi,4,1.3,Female
244,245,Kiran Joshi,48,101364,IT,Chennai,9,2.4,Male
245,246,Ajay Gupta,37,32609,HR,Chennai,5,3.1,Male
247,248,Ajay Gupta,50,55701,HR,Chennai,8,4.4,Male

In [43]:
# Display all employees from the IT department.
df[df['department'] == 'IT']

,emp_id,name,age,salary,department,city,experience,rating,gender
0,1,Arjun Reddy,25,99694,IT,Delhi,4,1.2,Male
2,3,Payal Joshi,24,67225,IT,Delhi,2,4.0,Female
16,17,Priya Mehta,32,93747,IT,Delhi,8,3.2,Male
17,18,Komal Patel,27,48588,IT,Mumbai,7,2.9,Male
20,21,Sanjay Singh,45,105583,IT,Chennai,10,4.6,Male
24,25,Vijay Shah,35,106750,IT,Mumbai,9,3.4,Male
27,28,Ramesh Iyer,30,109195,IT,Mumbai,8,4.7,Female
31,32,Nitin More,29,67770,IT,Delhi,1,3.2,Female
32,33,Divya Bansal,40,85379,IT,Delhi,10,1.3,Male
36,37,Alok Tiwari,52,109071,IT,Mumbai,8,1.2,Female
55,56,Ravi Kumar,40,28266,IT,Bangalore,4,4.1,Female
56,57,Seema Malhotra,48,80432,IT,Delhi,7,1.5,Female
60,61,Alok Tiwari,51,71463,IT,Pune,2,1.9,Male
66,67,Harsh Mehta,23,110699,IT,Pune,10,1.7,Female
72,73,Neha Patel,37,47118,IT,Hyderabad,2,4.9,Female
74,75,Nisha Kapoor,50,81169,IT,Chennai,1,2.1,Female
77,78,Manoj Mishra,24,76980,IT,Delhi,5,3.8,Female
78,79,Sneha Kulkarni,35,50954,IT,Mumbai,4,4.6,Male
79,80,Mehul Shah,41,97356,IT,Mumbai,9,1.9,Male
84,85,Manoj Mishra,47,93243,IT,Pune,10,2.0,Male
85,86,Pooja Nair,44,64090,IT,Mumbai,2,1.7,Male
92,93,Ajay Gupta,50,83906,IT,Hyderabad,7,2.6,Female
95,96,Deepak Yadav,27,59594,IT,Delhi,2,3.1,Male
98,99,Vijay Shah,28,68850,IT,Chennai,8,2.7,Male
105,106,Amit Sharma,43,51442,IT,Bangalore,6,4.4,Female
113,114,Priya Mehta,26,112517,IT,Pune,4,4.1,Male
122,123,Kavita Kulkarni,48,81714,IT,Bangalore,6,2.7,Male
125,126,Kavita Kulkarni,27,60042,IT,Chennai,9,1.9,Female
130,131,Swati Chavan,49,75005,IT,Mumbai,2,4.7,Female
132,133,Manoj Mishra,33,77397,IT,Mumbai,5,2.3,Male
135,136,Amit Sharma,42,43646,IT,Bangalore,7,4.3,Male
153,154,Payal Joshi,59,82488,IT,Mumbai,6,2.5,Female
155,156,Seema Malhotra,30,51230,IT,Bangalore,2,1.6,Female
156,157,Deepak Yadav,30,42464,IT,Mumbai,9,1.9,Male
165,166,Kiran Joshi,42,84684,IT,Chennai,8,2.2,Female
166,167,Vikas Agarwal,40,34247,IT,Chennai,4,3.7,Male
169,170,Suresh Pawar,34,50210,IT,Chennai,6,1.1,Female
171,172,Divya Bansal,48,26211,IT,Hyderabad,6,3.4,Male
180,181,Ramesh Iyer,21,39937,IT,Mumbai,4,1.9,Female
183,184,Swati Chavan,30,72193,IT,Chennai,7,2.4,Male
195,196,Sanjay Singh,28,102133,IT,Pune,9,2.2,Male
196,197,Manoj Mishra,49,92110,IT,Bangalore,5,2.3,Male
197,198,Payal Joshi,35,87823,IT,Bangalore,5,4.8,Male
198,199,Nisha Kapoor,34,72728,IT,Bangalore,1,3.0,Male
203,204,Alok Tiwari,28,59566,IT,Pune,10,2.5,Female
206,207,Nitin More,32,99050,IT,Delhi,5,4.1,Male
211,212,Nitin More,51,115647,IT,Delhi,5,3.9,Male
215,216,Priya Mehta,47,36131,IT,Hyderabad,8,2.8,Male
219,220,Nisha Kapoor,51,82089,IT,Chennai,7,1.3,Female
224,225,Nisha Kapoor,33,37842,IT,Pune,3,1.6,Female
227,228,Ajay Gupta,39,59219,IT,Mumbai,2,4.9,Female
232,233,Alok Tiwari,26,67803,IT,Pune,2,3.2,Male
237,238,Alok Tiwari,37,27649,IT,Mumbai,3,1.8,Male
238,239,Vijay Shah,25,110109,IT,Bangalore,6,2.2,Female
244,245,Kiran Joshi,48,101364,IT,Chennai,9,2.4,Male

In [44]:
# Display female employees from Mumbai.
df[(df['gender'] == 'Female') & (df['city'] == 'Mumbai')]

,emp_id,name,age,salary,department,city,experience,rating,gender
27,28,Ramesh Iyer,30,109195,IT,Mumbai,8,4.7,Female
35,36,Anita Desai,37,35202,Sales,Mumbai,6,2.3,Female
36,37,Alok Tiwari,52,109071,IT,Mumbai,8,1.2,Female
40,41,Divya Bansal,44,79961,Finance,Mumbai,1,3.9,Female
65,66,Alok Tiwari,52,119102,Marketing,Mumbai,7,1.5,Female
67,68,Vijay Shah,40,107857,Finance,Mumbai,1,3.3,Female
121,122,Suresh Pawar,25,111417,Sales,Mumbai,7,4.6,Female
127,128,Ravi Kumar,42,67102,Marketing,Mumbai,6,4.6,Female
130,131,Swati Chavan,49,75005,IT,Mumbai,2,4.7,Female
150,151,Neha Patel,53,73520,HR,Mumbai,5,1.0,Female
153,154,Payal Joshi,59,82488,IT,Mumbai,6,2.5,Female
154,155,Arjun Reddy,39,26607,HR,Mumbai,3,4.8,Female
158,159,Ajay Gupta,42,41132,Marketing,Mumbai,9,1.8,Female
164,165,Harsh Mehta,54,55380,Sales,Mumbai,8,4.1,Female
180,181,Ramesh Iyer,21,39937,IT,Mumbai,4,1.9,Female
221,222,Ravi Kumar,36,59407,Sales,Mumbai,4,1.8,Female
227,228,Ajay Gupta,39,59219,IT,Mumbai,2,4.9,Female
233,234,Amit Sharma,26,49091,HR,Mumbai,8,3.2,Female

In [45]:
# Display employees whose salary is between 50,000 and 80,000. 
df[(df['salary'] >= 50000) & (df['salary'] <= 80000)]

,emp_id,name,age,salary,department,city,experience,rating,gender
2,3,Payal Joshi,24,67225,IT,Delhi,2,4.0,Female
3,4,Arjun Reddy,40,54486,Sales,Delhi,1,1.4,Female
5,6,Sneha Kulkarni,49,72779,Finance,Bangalore,3,3.4,Female
6,7,Mehul Shah,35,54588,Finance,Bangalore,1,4.6,Male
8,9,Harsh Mehta,29,69230,HR,Pune,9,3.9,Female
11,12,Swati Chavan,29,78460,Marketing,Delhi,3,2.1,Female
12,13,Alok Tiwari,59,70601,HR,Bangalore,5,3.6,Male
14,15,Ajay Gupta,28,72371,Finance,Pune,6,4.1,Male
19,20,Neha Patel,26,61523,Marketing,Hyderabad,4,4.2,Female
26,27,Amit Sharma,25,50010,Finance,Delhi,5,2.0,Female
30,31,Amit Sharma,24,51570,HR,Bangalore,1,2.3,Female
31,32,Nitin More,29,67770,IT,Delhi,1,3.2,Female
40,41,Divya Bansal,44,79961,Finance,Mumbai,1,3.9,Female
43,44,Divya Bansal,21,62472,Finance,Delhi,7,1.1,Female
44,45,Alok Tiwari,28,70786,Marketing,Pune,2,2.1,Male
49,50,Rahul Verma,57,74648,Marketing,Bangalore,6,1.5,Male
52,53,Nisha Kapoor,24,78971,HR,Pune,2,3.8,Male
57,58,Seema Malhotra,25,63650,Sales,Hyderabad,10,4.2,Female
60,61,Alok Tiwari,51,71463,IT,Pune,2,1.9,Male
61,62,Seema Malhotra,58,50520,Marketing,Bangalore,1,4.2,Female
73,74,Mehul Shah,33,51953,Sales,Delhi,4,3.3,Female
76,77,Vikas Agarwal,33,74576,Sales,Delhi,6,2.3,Female
77,78,Manoj Mishra,24,76980,IT,Delhi,5,3.8,Female
78,79,Sneha Kulkarni,35,50954,IT,Mumbai,4,4.6,Male
80,81,Mehul Shah,36,63742,Marketing,Pune,2,4.7,Male
83,84,Rahul Verma,29,63926,Finance,Bangalore,10,3.7,Male
85,86,Pooja Nair,44,64090,IT,Mumbai,2,1.7,Male
87,88,Deepak Yadav,24,64205,Sales,Pune,10,2.2,Female
90,91,Deepak Yadav,33,71808,Sales,Chennai,1,3.7,Female
91,92,Neha Patel,36,57011,Marketing,Mumbai,9,4.8,Male
95,96,Deepak Yadav,27,59594,IT,Delhi,2,3.1,Male
97,98,Pooja Nair,48,55706,Sales,Delhi,2,2.7,Female
98,99,Vijay Shah,28,68850,IT,Chennai,8,2.7,Male
99,100,Mehul Shah,38,52843,HR,Chennai,5,3.1,Male
100,101,Sneha Kulkarni,26,55855,Finance,Delhi,6,4.8,Male
102,103,Anita Desai,50,77026,Sales,Pune,2,2.4,Male
103,104,Kiran Joshi,47,70680,Marketing,Chennai,5,4.0,Female
105,106,Amit Sharma,43,51442,IT,Bangalore,6,4.4,Female
110,111,Komal Patel,50,72063,Marketing,Mumbai,1,4.2,Male
112,113,Alok Tiwari,38,59428,Sales,Hyderabad,7,2.1,Male
114,115,Suresh Pawar,36,59335,Finance,Delhi,5,2.6,Female
116,117,Rahul Verma,49,70290,HR,Delhi,7,3.5,Female
119,120,Ravi Kumar,44,58871,Sales,Pune,7,4.3,Male
125,126,Kavita Kulkarni,27,60042,IT,Chennai,9,1.9,Female
127,128,Ravi Kumar,42,67102,Marketing,Mumbai,6,4.6,Female
130,131,Swati Chavan,49,75005,IT,Mumbai,2,4.7,Female
132,133,Manoj Mishra,33,77397,IT,Mumbai,5,2.3,Male
134,135,Neha Patel,28,51044,HR,Hyderabad,1,3.5,Male
136,137,Vijay Shah,59,65023,HR,Chennai,9,3.3,Female
137,138,Mehul Shah,36,67460,HR,Mumbai,1,1.5,Male
141,142,Rohit Jain,26,63773,HR,Bangalore,6,5.0,Male
142,143,Mehul Shah,56,52030,HR,Delhi,8,4.6,Male
150,151,Neha Patel,53,73520,HR,Mumbai,5,1.0,Female
151,152,Divya Bansal,55,65614,Sales,Chennai,3,2.0,Male
155,156,Seema Malhotra,30,51230,IT,Bangalore,2,1.6,Female
157,158,Nitin More,34,70301,HR,Chennai,3,4.3,Female
160,161,Sanjay Singh,52,78422,Marketing,Delhi,2,2.8,Female
163,164,Harsh Mehta,46,50372,HR,Pune,10,1.7,Male
164,165,Harsh Mehta,54,55380,Sales,Mumbai,8,4.1,Female
168,169,Rahul Verma,21,72656,Finance,Chennai,10,2.0,Male
169,170,Suresh Pawar,34,50210,IT,Chennai,6,1.1,Female
174,175,Ramesh Iyer,54,56751,Finance,Hyderabad,6,3.7,Female
175,176,Sanjay Singh,57,62419,Sales,Hyderabad,9,4.7,Female
176,177,Manoj Mishra,46,61186,Finance,Chennai,4,3.1,Female
177,178,Suresh Pawar,49,68141,Marketing,Hyderabad,7,1.8,Male
179,180,Vikas Agarwal,36,61673,HR,Hyderabad,10,2.2,Female
182,183,Sneha Kulkarni,21,69017,Marketing,Chennai,9,4.6,Male
183,184,Swati Chavan,30,72193,IT,Chennai,7,2.4,Male
187,188,Seema Malhotra,37,78413,Finance,Hyderabad,8,4.0,Female
190,191,Sneha Kulkarni,57,52204,Sales,Chennai,1,4.1,Female
192,193,Alok Tiwari,49,68040,Marketing,Delhi,6,2.5,Female
198,199,Nisha Kapoor,34,72728,IT,Bangalore,1,3.0,Male
201,202,Anita Desai,45,51519,Sales,Hyderabad,9,4.7,Male
203,204,Alok Tiwari,28,59566,IT,Pune,10,2.5,Female
214,215,Harsh Mehta,37,61188,Marketing,Bangalore,9,1.3,Male
216,217,Seema Malhotra,53,69751,Marketing,Chennai,2,2.2,Female
218,219,Rahul Verma,29,55656,Finance,Delhi,6,4.9,Male
221,222,Ravi Kumar,36,59407,Sales,Mumbai,4,1.8,Female
222,223,Manoj Mishra,43,66786,Sales,Hyderabad,10,1.6,Male
226,227,Manoj Mishra,41,68862,Marketing,Bangalore,1,3.5,Male
227,228,Ajay Gupta,39,59219,IT,Mumbai,2,4.9,Female
229,230,Mehul Shah,43,51196,Sales,Bangalore,7,3.6,Female
232,233,Alok Tiwari,26,67803,IT,Pune,2,3.2,Male
234,235,Sneha Kulkarni,27,60107,Marketing,Hyderabad,6,4.4,Male
236,237,Sneha Kulkarni,50,74780,Finance,Hyderabad,9,2.5,Female
239,240,Ajay Gupta,59,51301,Finance,Pune,7,2.8,Female
243,244,Komal Patel,45,79378,Marketing,Delhi,4,1.3,Female
247,248,Ajay Gupta,50,55701,HR,Chennai,8,4.4,Male

In [60]:
# Find the average salary department-wise.
df.groupby('department')['salary'].mean()

department
Finance      78352.269231
HR           62989.720000
IT           73523.854545
Marketing    74592.086957
Sales        72210.404255
Name: salary, dtype: float64

In [61]:
# Find the maximum salary city-wise.
df.groupby('city')['salary'].max()

city
Bangalore    110109
Chennai      117322
Delhi        118497
Hyderabad    119442
Mumbai       119969
Pune         115946
Name: salary, dtype: int64

In [62]:
# Find the total salary per department. 
df.groupby('department')['salary'].sum()

department
Finance      4074318
HR           3149486
IT           4043812
Marketing    3431236
Sales        3393889
Name: salary, dtype: int64

In [ ]:
# Count employees gender-wise.
df.groupby('gender').size()

gender
Female    123
Male      127
dtype: int64

In [ ]:
# Count missing values in each column.
df.isna().sum()

emp_id        0
name          0
age           0
salary        0
department    0
city          0
experience    0
rating        0
gender        0
dtype: int64

In [74]:
# Display the top 10 highest paid employees.
df.sort_values('salary',ascending=False).head(10)

,emp_id,name,age,salary,department,city,experience,rating,gender
249,250,Priya Mehta,35,119969,Finance,Mumbai,5,2.3,Male
101,102,Vijay Shah,57,119442,Finance,Hyderabad,6,3.2,Female
65,66,Alok Tiwari,52,119102,Marketing,Mumbai,7,1.5,Female
88,89,Deepak Yadav,50,118497,Finance,Delhi,7,3.2,Female
209,210,Swati Chavan,59,117775,Finance,Hyderabad,2,3.1,Female
118,119,Harsh Mehta,30,117322,Finance,Chennai,5,4.6,Female
107,108,Rohit Jain,33,116997,Marketing,Chennai,1,1.1,Male
131,132,Deepak Yadav,33,116110,Sales,Hyderabad,10,1.6,Male
143,144,Ramesh Iyer,34,115946,Finance,Pune,1,2.5,Female
211,212,Nitin More,51,115647,IT,Delhi,5,3.9,Male

In [77]:
# Display the bottom 5 lowest ratings.
df.sort_values('rating').head(5)

,emp_id,name,age,salary,department,city,experience,rating,gender
167,168,Rohit Jain,39,40664,HR,Hyderabad,3,1.0,Male
242,243,Vijay Shah,33,86982,HR,Pune,5,1.0,Male
150,151,Neha Patel,53,73520,HR,Mumbai,5,1.0,Female
225,226,Ravi Kumar,25,38359,Finance,Delhi,7,1.0,Female
15,16,Suresh Pawar,21,105175,Sales,Pune,2,1.1,Female

In [83]:
# Sort employees by department and then by age (ascending).
df.sort_values(['department','age'])

,emp_id,name,age,salary,department,city,experience,rating,gender
43,44,Divya Bansal,21,62472,Finance,Delhi,7,1.1,Female
168,169,Rahul Verma,21,72656,Finance,Chennai,10,2.0,Male
26,27,Amit Sharma,25,50010,Finance,Delhi,5,2.0,Female
208,209,Kavita Kulkarni,25,44533,Finance,Bangalore,1,2.3,Female
225,226,Ravi Kumar,25,38359,Finance,Delhi,7,1.0,Female
100,101,Sneha Kulkarni,26,55855,Finance,Delhi,6,4.8,Male
191,192,Anita Desai,26,111429,Finance,Pune,3,2.0,Female
231,232,Komal Patel,26,104191,Finance,Bangalore,6,3.6,Male
246,247,Komal Patel,26,29014,Finance,Pune,7,2.2,Male
14,15,Ajay Gupta,28,72371,Finance,Pune,6,4.1,Male
178,179,Priya Mehta,28,48884,Finance,Chennai,7,1.1,Male
83,84,Rahul Verma,29,63926,Finance,Bangalore,10,3.7,Male
93,94,Komal Patel,29,96465,Finance,Delhi,1,3.8,Female
218,219,Rahul Verma,29,55656,Finance,Delhi,6,4.9,Male
118,119,Harsh Mehta,30,117322,Finance,Chennai,5,4.6,Female
71,72,Ramesh Iyer,32,88917,Finance,Pune,3,3.7,Male
188,189,Kiran Joshi,32,39105,Finance,Delhi,1,4.6,Female
143,144,Ramesh Iyer,34,115946,Finance,Pune,1,2.5,Female
6,7,Mehul Shah,35,54588,Finance,Bangalore,1,4.6,Male
149,150,Swati Chavan,35,82082,Finance,Hyderabad,2,1.1,Male
161,162,Ajay Gupta,35,46571,Finance,Hyderabad,7,3.9,Male
249,250,Priya Mehta,35,119969,Finance,Mumbai,5,2.3,Male
114,115,Suresh Pawar,36,59335,Finance,Delhi,5,2.6,Female
187,188,Seema Malhotra,37,78413,Finance,Hyderabad,8,4.0,Female
18,19,Neha Patel,40,84848,Finance,Hyderabad,7,3.9,Male
58,59,Payal Joshi,40,106470,Finance,Bangalore,4,2.7,Male
67,68,Vijay Shah,40,107857,Finance,Mumbai,1,3.3,Female
199,200,Kavita Kulkarni,40,85880,Finance,Chennai,3,3.6,Male
128,129,Amit Sharma,42,39492,Finance,Bangalore,2,1.5,Male
186,187,Swati Chavan,42,96787,Finance,Hyderabad,6,2.8,Female
4,5,Pooja Nair,44,112305,Finance,Delhi,4,4.6,Female
40,41,Divya Bansal,44,79961,Finance,Mumbai,1,3.9,Female
176,177,Manoj Mishra,46,61186,Finance,Chennai,4,3.1,Female
5,6,Sneha Kulkarni,49,72779,Finance,Bangalore,3,3.4,Female
46,47,Ravi Kumar,49,100557,Finance,Mumbai,9,5.0,Male
37,38,Suresh Pawar,50,110888,Finance,Hyderabad,2,1.7,Male
88,89,Deepak Yadav,50,118497,Finance,Delhi,7,3.2,Female
236,237,Sneha Kulkarni,50,74780,Finance,Hyderabad,9,2.5,Female
152,153,Mehul Shah,52,107010,Finance,Pune,9,3.4,Male
235,236,Komal Patel,52,91766,Finance,Pune,4,2.7,Female
204,205,Rahul Verma,53,102058,Finance,Delhi,1,4.8,Female
51,52,Arjun Reddy,54,36099,Finance,Hyderabad,2,1.5,Female
54,55,Arjun Reddy,54,81498,Finance,Delhi,7,1.9,Female
174,175,Ramesh Iyer,54,56751,Finance,Hyderabad,6,3.7,Female
220,221,Nisha Kapoor,54,94400,Finance,Bangalore,9,3.6,Male
106,107,Amit Sharma,55,36336,Finance,Bangalore,9,4.9,Female
109,110,Amit Sharma,55,37913,Finance,Hyderabad,1,3.9,Female
81,82,Vijay Shah,56,95341,Finance,Delhi,6,2.9,Male
101,102,Vijay Shah,57,119442,Finance,Hyderabad,6,3.2,Female
133,134,Mehul Shah,57,86272,Finance,Hyderabad,4,2.9,Female
209,210,Swati Chavan,59,117775,Finance,Hyderabad,2,3.1,Female
239,240,Ajay Gupta,59,51301,Finance,Pune,7,2.8,Female
241,242,Deepak Yadav,23,49558,HR,Bangalore,2,2.2,Male
30,31,Amit Sharma,24,51570,HR,Bangalore,1,2.3,Female
52,53,Nisha Kapoor,24,78971,HR,Pune,2,3.8,Male
202,203,Alok Tiwari,24,115194,HR,Pune,6,1.6,Male
141,142,Rohit Jain,26,63773,HR,Bangalore,6,5.0,Male
233,234,Amit Sharma,26,49091,HR,Mumbai,8,3.2,Female
134,135,Neha Patel,28,51044,HR,Hyderabad,1,3.5,Male
8,9,Harsh Mehta,29,69230,HR,Pune,9,3.9,Female
170,171,Sneha Kulkarni,31,30013,HR,Delhi,6,4.9,Female
115,116,Rohit Jain,33,47065,HR,Hyderabad,5,1.5,Male
242,243,Vijay Shah,33,86982,HR,Pune,5,1.0,Male
157,158,Nitin More,34,70301,HR,Chennai,3,4.3,Female
240,241,Sanjay Singh,34,33119,HR,Bangalore,7,1.1,Male
137,138,Mehul Shah,36,67460,HR,Mumbai,1,1.5,Male
179,180,Vikas Agarwal,36,61673,HR,Hyderabad,10,2.2,Female
245,246,Ajay Gupta,37,32609,HR,Chennai,5,3.1,Male
99,100,Mehul Shah,38,52843,HR,Chennai,5,3.1,Male
68,69,Manoj Mishra,39,97732,HR,Pune,9,4.5,Male
154,155,Arjun Reddy,39,26607,HR,Mumbai,3,4.8,Female
167,168,Rohit Jain,39,40664,HR,Hyderabad,3,1.0,Male
181,182,Pooja Nair,39,26716,HR,Chennai,10,1.7,Female
48,49,Ramesh Iyer,42,38238,HR,Pune,2,3.5,Male
96,97,Arjun Reddy,42,93543,HR,Mumbai,6,1.4,Male
228,229,Mehul Shah,42,89385,HR,Hyderabad,6,3.9,Female
163,164,Harsh Mehta,46,50372,HR,Pune,10,1.7,Male
10,11,Amit Sharma,47,95528,HR,Chennai,10,2.9,Female
53,54,Anita Desai,48,49107,HR,Delhi,10,3.2,Male
148,149,Rohit Jain,48,91218,HR,Bangalore,3,1.1,Male
207,208,Vikas Agarwal,48,101680,HR,Pune,1,4.3,Female
38,39,Ravi Kumar,49,39920,HR,Delhi,9,1.5,Female
116,117,Rahul Verma,49,70290,HR,Delhi,7,3.5,Female
247,248,Ajay Gupta,50,55701,HR,Chennai,8,4.4,Male
146,147,Kavita Kulkarni,52,49425,HR,Delhi,10,2.3,Male
194,195,Rahul Verma,52,43442,HR,Delhi,7,4.1,Female
210,211,Mehul Shah,52,30906,HR,Delhi,3,4.9,Female
47,48,Vikas Agarwal,53,103629,HR,Bangalore,9,4.3,Male
144,145,Amit Sharma,53,49669,HR,Chennai,1,1.2,Male
150,151,Neha Patel,53,73520,HR,Mumbai,5,1.0,Female
59,60,Ramesh Iyer,54,40444,HR,Mumbai,7,1.3,Male
126,127,Amit Sharma,54,38431,HR,Pune,1,2.7,Female
147,148,Seema Malhotra,54,103134,HR,Pune,10,2.4,Female
205,206,Vijay Shah,54,47190,HR,Hyderabad,5,3.8,Female
217,218,Nisha Kapoor,54,85257,HR,Hyderabad,9,3.3,Female
223,224,Sneha Kulkarni,55,43212,HR,Pune,8,4.5,Male
42,43,Mehul Shah,56,84587,HR,Chennai,1,3.8,Male
50,51,Vikas Agarwal,56,107889,HR,Hyderabad,10,4.9,Male
142,143,Mehul Shah,56,52030,HR,Delhi,8,4.6,Male
12,13,Alok Tiwari,59,70601,HR,Bangalore,5,3.6,Male
111,112,Amit Sharma,59,83900,HR,Chennai,9,4.9,Male
136,137,Vijay Shah,59,65023,HR,Chennai,9,3.3,Female
180,181,Ramesh Iyer,21,39937,IT,Mumbai,4,1.9,Female
66,67,Harsh Mehta,23,110699,IT,Pune,10,1.7,Female
2,3,Payal Joshi,24,67225,IT,Delhi,2,4.0,Female
77,78,Manoj Mishra,24,76980,IT,Delhi,5,3.8,Female
0,1,Arjun Reddy,25,99694,IT,Delhi,4,1.2,Male
238,239,Vijay Shah,25,110109,IT,Bangalore,6,2.2,Female
113,114,Priya Mehta,26,112517,IT,Pune,4,4.1,Male
232,233,Alok Tiwari,26,67803,IT,Pune,2,3.2,Male
17,18,Komal Patel,27,48588,IT,Mumbai,7,2.9,Male
95,96,Deepak Yadav,27,59594,IT,Delhi,2,3.1,Male
125,126,Kavita Kulkarni,27,60042,IT,Chennai,9,1.9,Female
98,99,Vijay Shah,28,68850,IT,Chennai,8,2.7,Male
195,196,Sanjay Singh,28,102133,IT,Pune,9,2.2,Male
203,204,Alok Tiwari,28,59566,IT,Pune,10,2.5,Female
31,32,Nitin More,29,67770,IT,Delhi,1,3.2,Female
27,28,Ramesh Iyer,30,109195,IT,Mumbai,8,4.7,Female
155,156,Seema Malhotra,30,51230,IT,Bangalore,2,1.6,Female
156,157,Deepak Yadav,30,42464,IT,Mumbai,9,1.9,Male
183,184,Swati Chavan,30,72193,IT,Chennai,7,2.4,Male
16,17,Priya Mehta,32,93747,IT,Delhi,8,3.2,Male
206,207,Nitin More,32,99050,IT,Delhi,5,4.1,Male
132,133,Manoj Mishra,33,77397,IT,Mumbai,5,2.3,Male
224,225,Nisha Kapoor,33,37842,IT,Pune,3,1.6,Female
169,170,Suresh Pawar,34,50210,IT,Chennai,6,1.1,Female
198,199,Nisha Kapoor,34,72728,IT,Bangalore,1,3.0,Male
24,25,Vijay Shah,35,106750,IT,Mumbai,9,3.4,Male
78,79,Sneha Kulkarni,35,50954,IT,Mumbai,4,4.6,Male
197,198,Payal Joshi,35,87823,IT,Bangalore,5,4.8,Male
72,73,Neha Patel,37,47118,IT,Hyderabad,2,4.9,Female
237,238,Alok Tiwari,37,27649,IT,Mumbai,3,1.8,Male
227,228,Ajay Gupta,39,59219,IT,Mumbai,2,4.9,Female
32,33,Divya Bansal,40,85379,IT,Delhi,10,1.3,Male
55,56,Ravi Kumar,40,28266,IT,Bangalore,4,4.1,Female
166,167,Vikas Agarwal,40,34247,IT,Chennai,4,3.7,Male
79,80,Mehul Shah,41,97356,IT,Mumbai,9,1.9,Male
135,136,Amit Sharma,42,43646,IT,Bangalore,7,4.3,Male
165,166,Kiran Joshi,42,84684,IT,Chennai,8,2.2,Female
105,106,Amit Sharma,43,51442,IT,Bangalore,6,4.4,Female
85,86,Pooja Nair,44,64090,IT,Mumbai,2,1.7,Male
20,21,Sanjay Singh,45,105583,IT,Chennai,10,4.6,Male
84,85,Manoj Mishra,47,93243,IT,Pune,10,2.0,Male
215,216,Priya Mehta,47,36131,IT,Hyderabad,8,2.8,Male
56,57,Seema Malhotra,48,80432,IT,Delhi,7,1.5,Female
122,123,Kavita Kulkarni,48,81714,IT,Bangalore,6,2.7,Male
171,172,Divya Bansal,48,26211,IT,Hyderabad,6,3.4,Male
244,245,Kiran Joshi,48,101364,IT,Chennai,9,2.4,Male
130,131,Swati Chavan,49,75005,IT,Mumbai,2,4.7,Female
196,197,Manoj Mishra,49,92110,IT,Bangalore,5,2.3,Male
74,75,Nisha Kapoor,50,81169,IT,Chennai,1,2.1,Female
92,93,Ajay Gupta,50,83906,IT,Hyderabad,7,2.6,Female
60,61,Alok Tiwari,51,71463,IT,Pune,2,1.9,Male
211,212,Nitin More,51,115647,IT,Delhi,5,3.9,Male
219,220,Nisha Kapoor,51,82089,IT,Chennai,7,1.3,Female
36,37,Alok Tiwari,52,109071,IT,Mumbai,8,1.2,Female
153,154,Payal Joshi,59,82488,IT,Mumbai,6,2.5,Female
21,22,Rahul Verma,21,38109,Marketing,Chennai,10,1.8,Female
34,35,Rahul Verma,21,81913,Marketing,Hyderabad,6,2.3,Male
104,105,Vijay Shah,21,103776,Marketing,Chennai,2,3.5,Female
182,183,Sneha Kulkarni,21,69017,Marketing,Chennai,9,4.6,Male
159,160,Neha Patel,22,44198,Marketing,Bangalore,9,4.7,Female
70,71,Payal Joshi,24,46492,Marketing,Hyderabad,2,4.3,Male
82,83,Rahul Verma,25,91895,Marketing,Mumbai,2,2.2,Male
19,20,Neha Patel,26,61523,Marketing,Hyderabad,4,4.2,Female
185,186,Kiran Joshi,26,41998,Marketing,Delhi,7,2.1,Male
234,235,Sneha Kulkarni,27,60107,Marketing,Hyderabad,6,4.4,Male
44,45,Alok Tiwari,28,70786,Marketing,Pune,2,2.1,Male
11,12,Swati Chavan,29,78460,Marketing,Delhi,3,2.1,Female
23,24,Amit Sharma,30,112315,Marketing,Chennai,9,4.1,Female
89,90,Seema Malhotra,33,99071,Marketing,Bangalore,1,2.9,Female
107,108,Rohit Jain,33,116997,Marketing,Chennai,1,1.1,Male
123,124,Kiran Joshi,33,104872,Marketing,Delhi,5,2.8,Male
213,214,Payal Joshi,33,102724,Marketing,Delhi,8,2.0,Male
212,213,Kiran Joshi,35,94303,Marketing,Bangalore,8,2.7,Female
80,81,Mehul Shah,36,63742,Marketing,Pune,2,4.7,Male
91,92,Neha Patel,36,57011,Marketing,Mumbai,9,4.8,Male
140,141,Mehul Shah,37,91936,Marketing,Bangalore,1,3.5,Female
162,163,Deepak Yadav,37,89752,Marketing,Pune,5,1.2,Male
214,215,Harsh Mehta,37,61188,Marketing,Bangalore,9,1.3,Male
64,65,Anita Desai,38,38122,Marketing,Pune,1,3.5,Male
230,231,Kavita Kulkarni,39,48752,Marketing,Chennai,5,4.6,Male
226,227,Manoj Mishra,41,68862,Marketing,Bangalore,1,3.5,Male
120,121,Priya Mehta,42,32572,Marketing,Hyderabad,8,1.5,Female
127,128,Ravi Kumar,42,67102,Marketing,Mumbai,6,4.6,Female
158,159,Ajay Gupta,42,41132,Marketing,Mumbai,9,1.8,Female
45,46,Nisha Kapoor,44,112755,Marketing,Pune,10,1.5,Male
243,244,Komal Patel,45,79378,Marketing,Delhi,4,1.3,Female
9,10,Alok Tiwari,46,28540,Marketing,Delhi,4,4.1,Female
103,104,Kiran Joshi,47,70680,Marketing,Chennai,5,4.0,Female
177,178,Suresh Pawar,49,68141,Marketing,Hyderabad,7,1.8,Male
192,193,Alok Tiwari,49,68040,Marketing,Delhi,6,2.5,Female
63,64,Vijay Shah,50,113813,Marketing,Pune,7,1.2,Male
110,111,Komal Patel,50,72063,Marketing,Mumbai,1,4.2,Male
65,66,Alok Tiwari,52,119102,Marketing,Mumbai,7,1.5,Female
160,161,Sanjay Singh,52,78422,Marketing,Delhi,2,2.8,Female
189,190,Swati Chavan,53,40742,Marketing,Delhi,5,4.4,Male
216,217,Seema Malhotra,53,69751,Marketing,Chennai,2,2.2,Female
22,23,Rohit Jain,55,103229,Marketing,Mumbai,10,4.5,Male
49,50,Rahul Verma,57,74648,Marketing,Bangalore,6,1.5,Male
61,62,Seema Malhotra,58,50520,Marketing,Bangalore,1,4.2,Female
117,118,Payal Joshi,58,96488,Marketing,Bangalore,6,2.1,Male
25,26,Amit Sharma,59,106197,Marketing,Pune,7,4.1,Female
15,16,Suresh Pawar,21,105175,Sales,Pune,2,1.1,Female
33,34,Swati Chavan,22,93027,Sales,Hyderabad,4,3.8,Female
87,88,Deepak Yadav,24,64205,Sales,Pune,10,2.2,Female
13,14,Suresh Pawar,25,87997,Sales,Delhi,10,2.1,Male
57,58,Seema Malhotra,25,63650,Sales,Hyderabad,10,4.2,Female
121,122,Suresh Pawar,25,111417,Sales,Mumbai,7,4.6,Female
108,109,Divya Bansal,27,94120,Sales,Mumbai,8,1.3,Male
39,40,Amit Sharma,28,108096,Sales,Delhi,9,2.2,Female
173,174,Harsh Mehta,29,93636,Sales,Pune,3,3.3,Female
62,63,Harsh Mehta,30,36424,Sales,Pune,7,2.9,Female
75,76,Nisha Kapoor,30,90828,Sales,Delhi,4,3.4,Male
248,249,Anita Desai,30,86271,Sales,Bangalore,1,2.1,Male
41,42,Divya Bansal,31,106122,Sales,Mumbai,8,4.9,Male
124,125,Swati Chavan,32,81192,Sales,Hyderabad,2,4.7,Male
73,74,Mehul Shah,33,51953,Sales,Delhi,4,3.3,Female
76,77,Vikas Agarwal,33,74576,Sales,Delhi,6,2.3,Female
90,91,Deepak Yadav,33,71808,Sales,Chennai,1,3.7,Female
131,132,Deepak Yadav,33,116110,Sales,Hyderabad,10,1.6,Male
86,87,Nitin More,34,101140,Sales,Pune,3,1.2,Female
200,201,Pooja Nair,34,43372,Sales,Delhi,2,4.8,Female
221,222,Ravi Kumar,36,59407,Sales,Mumbai,4,1.8,Female
35,36,Anita Desai,37,35202,Sales,Mumbai,6,2.3,Female
112,113,Alok Tiwari,38,59428,Sales,Hyderabad,7,2.1,Male
138,139,Kavita Kulkarni,39,101019,Sales,Delhi,6,3.4,Female
3,4,Arjun Reddy,40,54486,Sales,Delhi,1,1.4,Female
69,70,Nisha Kapoor,42,34909,Sales,Hyderabad,2,1.6,Male
222,223,Manoj Mishra,43,66786,Sales,Hyderabad,10,1.6,Male
229,230,Mehul Shah,43,51196,Sales,Bangalore,7,3.6,Female
7,8,Sneha Kulkarni,44,26941,Sales,Bangalore,6,2.9,Female
28,29,Ramesh Iyer,44,97574,Sales,Hyderabad,5,4.9,Male
119,120,Ravi Kumar,44,58871,Sales,Pune,7,4.3,Male
145,146,Seema Malhotra,44,102159,Sales,Chennai,3,1.6,Female
201,202,Anita Desai,45,51519,Sales,Hyderabad,9,4.7,Male
1,2,Ravi Kumar,46,108330,Sales,Mumbai,1,1.5,Male
97,98,Pooja Nair,48,55706,Sales,Delhi,2,2.7,Female
139,140,Neha Patel,49,86323,Sales,Chennai,8,3.8,Female
172,173,Manoj Mishra,49,80551,Sales,Hyderabad,9,3.3,Male
102,103,Anita Desai,50,77026,Sales,Pune,2,2.4,Male
193,194,Manoj Mishra,50,38119,Sales,Chennai,8,4.2,Female
129,130,Divya Bansal,51,37067,Sales,Bangalore,8,3.3,Male
164,165,Harsh Mehta,54,55380,Sales,Mumbai,8,4.1,Female
151,152,Divya Bansal,55,65614,Sales,Chennai,3,2.0,Male
184,185,Arjun Reddy,55,44834,Sales,Pune,8,3.0,Male
29,30,Mehul Shah,56,47049,Sales,Pune,9,2.6,Male
175,176,Sanjay Singh,57,62419,Sales,Hyderabad,9,4.7,Female
190,191,Sneha Kulkarni,57,52204,Sales,Chennai,1,4.1,Female
94,95,Sanjay Singh,59,102651,Sales,Bangalore,1,2.0,Female

In [88]:
# Display employees whose salary is greater than the department average salary.
df[df['salary'] > df.groupby('department')['salary'].transform('mean')]

,emp_id,name,age,salary,department,city,experience,rating,gender
0,1,Arjun Reddy,25,99694,IT,Delhi,4,1.2,Male
1,2,Ravi Kumar,46,108330,Sales,Mumbai,1,1.5,Male
4,5,Pooja Nair,44,112305,Finance,Delhi,4,4.6,Female
8,9,Harsh Mehta,29,69230,HR,Pune,9,3.9,Female
10,11,Amit Sharma,47,95528,HR,Chennai,10,2.9,Female
11,12,Swati Chavan,29,78460,Marketing,Delhi,3,2.1,Female
12,13,Alok Tiwari,59,70601,HR,Bangalore,5,3.6,Male
13,14,Suresh Pawar,25,87997,Sales,Delhi,10,2.1,Male
15,16,Suresh Pawar,21,105175,Sales,Pune,2,1.1,Female
16,17,Priya Mehta,32,93747,IT,Delhi,8,3.2,Male
18,19,Neha Patel,40,84848,Finance,Hyderabad,7,3.9,Male
20,21,Sanjay Singh,45,105583,IT,Chennai,10,4.6,Male
22,23,Rohit Jain,55,103229,Marketing,Mumbai,10,4.5,Male
23,24,Amit Sharma,30,112315,Marketing,Chennai,9,4.1,Female
24,25,Vijay Shah,35,106750,IT,Mumbai,9,3.4,Male
25,26,Amit Sharma,59,106197,Marketing,Pune,7,4.1,Female
27,28,Ramesh Iyer,30,109195,IT,Mumbai,8,4.7,Female
28,29,Ramesh Iyer,44,97574,Sales,Hyderabad,5,4.9,Male
32,33,Divya Bansal,40,85379,IT,Delhi,10,1.3,Male
33,34,Swati Chavan,22,93027,Sales,Hyderabad,4,3.8,Female
34,35,Rahul Verma,21,81913,Marketing,Hyderabad,6,2.3,Male
36,37,Alok Tiwari,52,109071,IT,Mumbai,8,1.2,Female
37,38,Suresh Pawar,50,110888,Finance,Hyderabad,2,1.7,Male
39,40,Amit Sharma,28,108096,Sales,Delhi,9,2.2,Female
40,41,Divya Bansal,44,79961,Finance,Mumbai,1,3.9,Female
41,42,Divya Bansal,31,106122,Sales,Mumbai,8,4.9,Male
42,43,Mehul Shah,56,84587,HR,Chennai,1,3.8,Male
45,46,Nisha Kapoor,44,112755,Marketing,Pune,10,1.5,Male
46,47,Ravi Kumar,49,100557,Finance,Mumbai,9,5.0,Male
47,48,Vikas Agarwal,53,103629,HR,Bangalore,9,4.3,Male
49,50,Rahul Verma,57,74648,Marketing,Bangalore,6,1.5,Male
50,51,Vikas Agarwal,56,107889,HR,Hyderabad,10,4.9,Male
52,53,Nisha Kapoor,24,78971,HR,Pune,2,3.8,Male
54,55,Arjun Reddy,54,81498,Finance,Delhi,7,1.9,Female
56,57,Seema Malhotra,48,80432,IT,Delhi,7,1.5,Female
58,59,Payal Joshi,40,106470,Finance,Bangalore,4,2.7,Male
63,64,Vijay Shah,50,113813,Marketing,Pune,7,1.2,Male
65,66,Alok Tiwari,52,119102,Marketing,Mumbai,7,1.5,Female
66,67,Harsh Mehta,23,110699,IT,Pune,10,1.7,Female
67,68,Vijay Shah,40,107857,Finance,Mumbai,1,3.3,Female
68,69,Manoj Mishra,39,97732,HR,Pune,9,4.5,Male
71,72,Ramesh Iyer,32,88917,Finance,Pune,3,3.7,Male
74,75,Nisha Kapoor,50,81169,IT,Chennai,1,2.1,Female
75,76,Nisha Kapoor,30,90828,Sales,Delhi,4,3.4,Male
76,77,Vikas Agarwal,33,74576,Sales,Delhi,6,2.3,Female
77,78,Manoj Mishra,24,76980,IT,Delhi,5,3.8,Female
79,80,Mehul Shah,41,97356,IT,Mumbai,9,1.9,Male
81,82,Vijay Shah,56,95341,Finance,Delhi,6,2.9,Male
82,83,Rahul Verma,25,91895,Marketing,Mumbai,2,2.2,Male
84,85,Manoj Mishra,47,93243,IT,Pune,10,2.0,Male
86,87,Nitin More,34,101140,Sales,Pune,3,1.2,Female
88,89,Deepak Yadav,50,118497,Finance,Delhi,7,3.2,Female
89,90,Seema Malhotra,33,99071,Marketing,Bangalore,1,2.9,Female
92,93,Ajay Gupta,50,83906,IT,Hyderabad,7,2.6,Female
93,94,Komal Patel,29,96465,Finance,Delhi,1,3.8,Female
94,95,Sanjay Singh,59,102651,Sales,Bangalore,1,2.0,Female
96,97,Arjun Reddy,42,93543,HR,Mumbai,6,1.4,Male
101,102,Vijay Shah,57,119442,Finance,Hyderabad,6,3.2,Female
102,103,Anita Desai,50,77026,Sales,Pune,2,2.4,Male
104,105,Vijay Shah,21,103776,Marketing,Chennai,2,3.5,Female
107,108,Rohit Jain,33,116997,Marketing,Chennai,1,1.1,Male
108,109,Divya Bansal,27,94120,Sales,Mumbai,8,1.3,Male
111,112,Amit Sharma,59,83900,HR,Chennai,9,4.9,Male
113,114,Priya Mehta,26,112517,IT,Pune,4,4.1,Male
116,117,Rahul Verma,49,70290,HR,Delhi,7,3.5,Female
117,118,Payal Joshi,58,96488,Marketing,Bangalore,6,2.1,Male
118,119,Harsh Mehta,30,117322,Finance,Chennai,5,4.6,Female
121,122,Suresh Pawar,25,111417,Sales,Mumbai,7,4.6,Female
122,123,Kavita Kulkarni,48,81714,IT,Bangalore,6,2.7,Male
123,124,Kiran Joshi,33,104872,Marketing,Delhi,5,2.8,Male
124,125,Swati Chavan,32,81192,Sales,Hyderabad,2,4.7,Male
130,131,Swati Chavan,49,75005,IT,Mumbai,2,4.7,Female
131,132,Deepak Yadav,33,116110,Sales,Hyderabad,10,1.6,Male
132,133,Manoj Mishra,33,77397,IT,Mumbai,5,2.3,Male
133,134,Mehul Shah,57,86272,Finance,Hyderabad,4,2.9,Female
136,137,Vijay Shah,59,65023,HR,Chennai,9,3.3,Female
137,138,Mehul Shah,36,67460,HR,Mumbai,1,1.5,Male
138,139,Kavita Kulkarni,39,101019,Sales,Delhi,6,3.4,Female
139,140,Neha Patel,49,86323,Sales,Chennai,8,3.8,Female
140,141,Mehul Shah,37,91936,Marketing,Bangalore,1,3.5,Female
141,142,Rohit Jain,26,63773,HR,Bangalore,6,5.0,Male
143,144,Ramesh Iyer,34,115946,Finance,Pune,1,2.5,Female
145,146,Seema Malhotra,44,102159,Sales,Chennai,3,1.6,Female
147,148,Seema Malhotra,54,103134,HR,Pune,10,2.4,Female
148,149,Rohit Jain,48,91218,HR,Bangalore,3,1.1,Male
149,150,Swati Chavan,35,82082,Finance,Hyderabad,2,1.1,Male
150,151,Neha Patel,53,73520,HR,Mumbai,5,1.0,Female
152,153,Mehul Shah,52,107010,Finance,Pune,9,3.4,Male
153,154,Payal Joshi,59,82488,IT,Mumbai,6,2.5,Female
157,158,Nitin More,34,70301,HR,Chennai,3,4.3,Female
160,161,Sanjay Singh,52,78422,Marketing,Delhi,2,2.8,Female
162,163,Deepak Yadav,37,89752,Marketing,Pune,5,1.2,Male
165,166,Kiran Joshi,42,84684,IT,Chennai,8,2.2,Female
172,173,Manoj Mishra,49,80551,Sales,Hyderabad,9,3.3,Male
173,174,Harsh Mehta,29,93636,Sales,Pune,3,3.3,Female
186,187,Swati Chavan,42,96787,Finance,Hyderabad,6,2.8,Female
187,188,Seema Malhotra,37,78413,Finance,Hyderabad,8,4.0,Female
191,192,Anita Desai,26,111429,Finance,Pune,3,2.0,Female
195,196,Sanjay Singh,28,102133,IT,Pune,9,2.2,Male
196,197,Manoj Mishra,49,92110,IT,Bangalore,5,2.3,Male
197,198,Payal Joshi,35,87823,IT,Bangalore,5,4.8,Male
199,200,Kavita Kulkarni,40,85880,Finance,Chennai,3,3.6,Male
202,203,Alok Tiwari,24,115194,HR,Pune,6,1.6,Male
204,205,Rahul Verma,53,102058,Finance,Delhi,1,4.8,Female
206,207,Nitin More,32,99050,IT,Delhi,5,4.1,Male
207,208,Vikas Agarwal,48,101680,HR,Pune,1,4.3,Female
209,210,Swati Chavan,59,117775,Finance,Hyderabad,2,3.1,Female
211,212,Nitin More,51,115647,IT,Delhi,5,3.9,Male
212,213,Kiran Joshi,35,94303,Marketing,Bangalore,8,2.7,Female
213,214,Payal Joshi,33,102724,Marketing,Delhi,8,2.0,Male
217,218,Nisha Kapoor,54,85257,HR,Hyderabad,9,3.3,Female
219,220,Nisha Kapoor,51,82089,IT,Chennai,7,1.3,Female
220,221,Nisha Kapoor,54,94400,Finance,Bangalore,9,3.6,Male
228,229,Mehul Shah,42,89385,HR,Hyderabad,6,3.9,Female
231,232,Komal Patel,26,104191,Finance,Bangalore,6,3.6,Male
235,236,Komal Patel,52,91766,Finance,Pune,4,2.7,Female
238,239,Vijay Shah,25,110109,IT,Bangalore,6,2.2,Female
242,243,Vijay Shah,33,86982,HR,Pune,5,1.0,Male
243,244,Komal Patel,45,79378,Marketing,Delhi,4,1.3,Female
244,245,Kiran Joshi,48,101364,IT,Chennai,9,2.4,Male
248,249,Anita Desai,30,86271,Sales,Bangalore,1,2.1,Male
249,250,Priya Mehta,35,119969,Finance,Mumbai,5,2.3,Male