In [1]:
import numpy as np
import pandas as pd

In [19]:
course = pd.read_csv('../8_files/courses.csv')
student = pd.read_csv('../8_files/students.csv')
nov = pd.read_csv('../8_files/reg-month1.csv')
dec = pd.read_csv('../8_files/reg-month2.csv')
matches = pd.read_csv('../8_files/matches.csv')
delevery = pd.read_csv('../8_files/deliveries.csv')

In [20]:
pd.concat([nov,dec],ignore_index=True).head(1)

   student_id  course_id
0          23          1

In [26]:
merge = pd.concat([nov,dec],keys=['nov','dec'])

In [28]:
merge.loc['dec']

    student_id  course_id
0            3          5
1           16          7
2           12         10
3           12          1
4           14          9
5            7          7
6            7          2
7           16          3
8           17         10
9           11          8
10          14          6
11          12          5
12          12          7
13          18          8
14           1         10
15           1          9
16           2          5
17           7          6
18          22          5
19          22          6
20          23          9
21          23          5
22          14          4
23          14          1
24          11         10
25          42          9
26          50          8
27          38          1

In [30]:
merge.loc[('nov',0)]

student_id    23
course_id      1
Name: (nov, 0), dtype: int64

In [31]:
pd.concat([nov,dec],axis=1)

    student_id  course_id  student_id  course_id
0         23.0        1.0           3          5
1         15.0        5.0          16          7
2         18.0        6.0          12         10
3         23.0        4.0          12          1
4         16.0        9.0          14          9
5         18.0        1.0           7          7
6          1.0        1.0           7          2
7          7.0        8.0          16          3
8         22.0        3.0          17         10
9         15.0        1.0          11          8
10        19.0        4.0          14          6
11         1.0        6.0          12          5
12         7.0       10.0          12          7
13        11.0        7.0          18          8
14        13.0        3.0           1         10
15        24.0        4.0           1          9
16        21.0        1.0           2          5
17        16.0        5.0           7          6
18        23.0        3.0          22          5
19        17.0        7.0          22          6
20        23.0        6.0          23          9
21        25.0        1.0          23          5
22        19.0        2.0          14          4
23        25.0       10.0          14          1
24         3.0        3.0          11         10
25         NaN        NaN          42          9
26         NaN        NaN          50          8
27         NaN        NaN          38          1